{% set documentsByUser =  listDocumentsByReservationByUser( reservation ) %}

{% macro showUsersDocumentsLine(documents, reservation) %}
  {% set doctypesArray = ['visa','drivers','passport'] %}
  {% set reservationUserDataFields = getUserReservationDataFields(reservation, reservation.user) %}
  {% set reservationUserRatio = ((reservationUserDataFields.filledFieldsCount/reservationUserDataFields.fieldsCount) * 100)|round(0) %}
  <div class="tags has-addons">
    <span class="tag is-light">
      <i class="fas fa-motorcycle"></i>
    </span>
    <span class="tag tag-name">{{app.user.prenom}} {{app.user.nom}}</span>
    <span class="tag{% if reservationUserRatio < 100 %} is-danger is-light{% endif %}"
     title="{{'Nivel de compleción de datos de usuario'|trans }}" data-bs-toggle="tooltip"
    >{{ reservationUserRatio }} %</span>
    {% for doctype in doctypesArray %}
      <span class="tag is-light">
        <i class="fa fa-{% if doctype == "passport" %}passport{% endif %}{% if doctype == "drivers" %}id-card{% endif %}{% if doctype == "visa" %}book{% endif %}"></i>
      </span>
      {% for document in documents %}
        {% if hasDoctype(document, doctype) == true %}
          <span class="tag is-light">
            <a href="{{ path("download_document",{
                            'id': document.id}
                              )}}"
              title="{{document.doctype|trans}} {{document.filename}}"
              data-bs-toggle="tooltip"
              class="text-success">
                <span class="fa fa-check-circle"></span>
            </a>
          </span>
        {% endif %}
      {% endfor %}
      {% if notPresentDoctypeUser(reservation, app.user, doctype) == true %}
        <span class="tag is-light text-danger">
          <i class="fa fa-x"></i>
        </span>
      {% endif %}
    {% endfor %}
    <span class="tag is-info is-light">
      <a
        href="{{ path('frontend_user_reservation_data', { 'reservation': reservation.id }) }}"
        title="{{'Editar datos del viaje y documentación'|trans}}"
        data-bs-toggle="tooltip"
      >
        <i class="fa fa-edit "></i>
      </a>
    </span>
    <span class="tag is-light">
      <i class="fas fa-arrow-left" style="font-size:0.8rem"></i>
      &nbsp;&nbsp;{{'Editar'|trans}}
    </span>
  </div>

{% endmacro %}
{% macro showTravellersDocumentsLine(documents, traveller,  reservation) %}
  {# {% if traveller.email != app.user.email %} #}
    {% set doctypesArray = ['passport','visa','drivers'] %}
    {% set reservationTravellerDataFields = getTravellerReservationDataFields(reservation, traveller) %}
    {% set reservationTravellerRatio = ((reservationTravellerDataFields.filledFieldsCount /reservationTravellerDataFields.fieldsCount) * 100)|round(0) %}

    <div class="tags has-addons">
      <span class="tag is-light">
        <i class="fas fa-user"></i>
      </span>
      <span class="tag tag-name">{{traveller.prenom}} {{traveller.nom}}</span>
      <span class="tag{% if reservationTravellerRatio < 100 %} is-danger is-light{% endif %}" title="{{'Nivel de compleción de datos de viajero'|trans }}" data-bs-toggle="tooltip">{{ reservationTravellerRatio }} %</span>
      {% for doctype in doctypesArray %}
        <span class="tag is-light">
          <i class="fa fa-{% if doctype == "passport" %}passport{% endif %}{% if doctype == "drivers" %}id-card{% endif %}{% if doctype == "visa" %}book{% endif %}"></i>
        </span>
      {% for document in documents %}
        {% if hasDoctype(document, doctype) == true %}
          <span class="tag is-light">
            <a href="{{ path("download_document",{
                            'id': document.id}
                            )}}"
                title="{{document.doctype|trans}} {{document.filename}}"
                data-bs-toggle="tooltip"
                class="text-success">
                  <span class="fa fa-check-circle"></span>
              </a>
            </span>
          {% endif %}
        {% endfor %}
        {% if notPresentDoctypeTraveller(reservation, traveller, doctype) == true %}
          <span class="tag is-light text-danger">
            <i class="fa fa-x"></i>
          </span>
        {% endif %}
      {% endfor %}
      <span class="tag is-info is-light">
        <a
          href="{{ path('frontend_user_reservation_data_traveller', { 'reservation': reservation.id,'traveller':traveller.id }) }}"
          title="{{'Editar datos del viaje y documentación'|trans}}"
          data-bs-toggle="tooltip"
        >
          <i class="fa fa-edit "></i>
        </a>
      </span>
      <span class="tag is-light">
        <i class="fas fa-arrow-left" style="font-size:0.8rem"></i>
        &nbsp;&nbsp;{{'Editar'|trans}}
      </span>
    </div>
    <br />
  {# {% endif %} #}
{% endmacro %}
<div class="card mb-2">
  <div class="card-header">
  <div class="row">
    {% set MediaPath = '/media/' ~ reservation.date.travel.mainPhoto.Path %}
    <div class="col-2">
      <img class="img-fluid" src="{{ MediaPath|imagine_filter('index_thumbnail_small') }} " alt="">
    </div>
    <div class="col-10">
    <h2>{{ reservation.code }} - {{renderLocalizedTravel(reservation.date.travel.id,locale)}}
    <div class="tags has-addons me-1">
      <span class="tag is-danger is-light">{{reservation.date.debut|date('d/m/Y')}}</span>
      <span class="tag">
        <i class="fas fa-arrow-right" style="font-size:0.8rem"></i>
      </span>
     </div>
    <div class="tags has-addons">
      <span class="tag is-danger is-light">{{reservation.date.fin|date('d/m/Y')}}</span>
    </div>
    <div class="tags has-addons">
      <span class="tag"><i class="fas fa-suitcase"></i></span>
      <span class="tag  is-danger is-light">{{ reservation.status }}</span>
      <span class="tag is-info is-light">
      <a
        href="{{ path('frontend_user_reservation', {'reservation':reservation.id}) }}"
        title="{{'Editar datos de la reserva'|trans}}"
        data-bs-toggle="tooltip"
      >
        <i class="fa fa-edit "></i>
      </a>
    </span>
    </div>

    </h2>
    </div>
  </div>
  </div>
  <div class="card-body reservation-container">
    <div class="reservationOptions box">
        <h5>
          {{'Datos y documentación'|trans}}
        </h5>
        {# <h6> #}
          {# {{'Tus datos'|trans}} #}
        {# </h6> #}
          {# {{ _self.showUsersDocumentsLine(documentsByUser,reservation) }} #}

        {% if reservation.travellers|length > 0 %}
          <h6 class="mt-1">
            {{'Datos de los viajeros'|trans}}
          </h6>
        {% endif %}
        {% for traveller in reservation.travellers %}
          {% set documentsByTraveller = listDocumentsByReservationByTraveller(reservation, traveller ) %}
          {{ _self.showTravellersDocumentsLine(documentsByTraveller, traveller, reservation) }}
        {% endfor %}
        <h5 class="mt-1">{{'Mensajes enviados'|trans}}</h5>

        {% for mailing in reservation.mailings %}
        <div class="tags has-addons">
          <span class="tag is-light">
            <i class="fas fa-envelope" style="margin:2px"></i>
          </span>
          <span class="tag">
            {% if mailing.dateSent != null %}
              {{ mailing.dateSent|date('d/m/Y') }}
            {% endif %}
          </span>
          <span class="tag">
            <a
              href="#"
              target="_blank"
              title="{{mailing.subject}}"
              data-action="read-more"
              data-title="{{mailing.subject}}"
              data-content="{{ mailing.content|raw|escape }}"
              data-bs-toggle="tooltip">
              {# {{ mailing.subject|u.truncate(40,'...') }} #}
              ... {{ mailing.subject|slice(17,20) }}...
              </a>
          </span>
        </div>
        <br />
          {% else %}
          {{ 'No hay mensajes enviados asociados a esta reserva'|trans }}.
        {% endfor %}
    </div>

    <div class="box reservationCalculator">
      {{ include( 'user/_cards/_card_reservation_calculator_styled.html.twig' )}}
    </div>
</div>