{% set documentsByUser =  listDocumentsByReservationByUser( reservation ) %}

{% macro showUsersDocumentsLine(documents, reservation) %}
  {% set doctypesArray = ['visa','drivers','passport'] %}
  {% set reservationUserDataFields = getUserReservationDataFields(reservation, reservation.user) %}
  {% set reservationUserRatio = ((reservationUserDataFields.filledFieldsCount/reservationUserDataFields.fieldsCount) * 100)|round(0) %}
  <div class="tags has-addons">
    <span class="tag is-light">
      <i class="fas fa-motorcycle"></i>
    </span>
    <span class="tag tag-name">{{app.user.prenom}} {{app.user.nom}}</span>
    <span class="tag{% if reservationUserRatio < 100 %} is-danger is-light{% endif %}"
     title="{{'Nivel de compleción de datos de usuario'|trans }}" data-bs-toggle="tooltip"
    >{{ reservationUserRatio }} %</span>
    {% for doctype in doctypesArray %}
      <span class="tag is-light">
        <i class="fa fa-{% if doctype == "passport" %}passport{% endif %}{% if doctype == "drivers" %}id-card{% endif %}{% if doctype == "visa" %}book{% endif %}"></i>
      </span>
      {% for document in documents %}
        {% if hasDoctype(document, doctype) == true %}
          <span class="tag is-light">
            <a href="{{ path("download_document",{
                            'id': document.id}
                              )}}"
              title="{{document.doctype|trans}} {{document.filename}}"
              data-bs-toggle="tooltip"
              class="text-success">
                <span class="fa fa-check-circle"></span>
            </a>
          </span>
        {% endif %}
      {% endfor %}
      {% if notPresentDoctypeUser(reservation, app.user, doctype) == true %}
        <span class="tag is-light text-danger">
          <i class="fa fa-x"></i>
        </span>
      {% endif %}
    {% endfor %}
    <span class="tag is-info is-light">
      <a
        href="{{ path('frontend_user_reservation_data', { 'reservation': reservation.id }) }}"
        title="{{'Editar datos del viaje y documentación'|trans}}"
        data-bs-toggle="tooltip"
      >
        <i class="fa fa-edit "></i>
      </a>
    </span>
    <span class="tag is-light">
      <i class="fas fa-arrow-left" style="font-size:0.8rem"></i>
      &nbsp;&nbsp;{{'Editar'|trans}}
    </span>
  </div>

{% endmacro %}
{% macro showTravellersDocumentsLine(documents, traveller,  reservation) %}
  {% if traveller.email != app.user.email %}
  {% set doctypesArray = ['passport','visa','drivers'] %}
  {% set reservationTravellerDataFields = getTravellerReservationDataFields(reservation, traveller) %}
  {% set reservationTravellerRatio = ((reservationTravellerDataFields.filledFieldsCount /reservationTravellerDataFields.fieldsCount) * 100)|round(0) %}

  <div class="tags has-addons">
    <span class="tag is-light">
      <i class="fas fa-user"></i>
    </span>
    <span class="tag tag-name">{{traveller.prenom}} {{traveller.nom}}</span>
    <span class="tag{% if reservationTravellerRatio < 100 %} is-danger is-light{% endif %}" title="{{'Nivel de compleción de datos de viajero'|trans }}" data-bs-toggle="tooltip">{{ reservationTravellerRatio }} %</span>
    {% for doctype in doctypesArray %}
      <span class="tag is-light">
        <i class="fa fa-{% if doctype == "passport" %}passport{% endif %}{% if doctype == "drivers" %}id-card{% endif %}{% if doctype == "visa" %}book{% endif %}"></i>
      </span>
    {% for document in documents %}
      {% if hasDoctype(document, doctype) == true %}
        <span class="tag is-light">
          <a href="{{ path("download_document",{
                          'id': document.id}
                          )}}"
              title="{{document.doctype|trans}} {{document.filename}}"
              data-bs-toggle="tooltip"
              class="text-success">
                <span class="fa fa-check-circle"></span>
            </a>
          </span>
        {% endif %}
      {% endfor %}
      {% if notPresentDoctypeTraveller(reservation, traveller, doctype) == true %}
        <span class="tag is-light text-danger">
          <i class="fa fa-x"></i>
        </span>
      {% endif %}
    {% endfor %}
    <span class="tag is-info is-light">
      <a
        href="{{ path('frontend_user_reservation_data_traveller', { 'reservation': reservation.id,'traveller':traveller.id }) }}"
        title="{{'Editar datos del viaje y documentación'|trans}}"
        data-bs-toggle="tooltip"
      >
        <i class="fa fa-edit "></i>
      </a>
    </span>
    <span class="tag is-light">
      <i class="fas fa-arrow-left" style="font-size:0.8rem"></i>
      &nbsp;&nbsp;{{'Editar'|trans}}
    </span>
  </div>
  <br />
  {% endif %}
{% endmacro %}
<div class="card mb-2">
  <div class="card-header">
  <div class="row">
    {% set MediaPath = '/media/' ~ reservation.date.travel.mainPhoto.Path %}
    <div class="col-2">
      <img class="img-fluid" src="{{ MediaPath|imagine_filter('index_thumbnail_small') }} " alt="">
    </div>
    <div class="col-10">
    <h2>{{ reservation.code }} - {{renderLocalizedTravel(reservation.date.travel.id,locale)}}
    <div class="tags has-addons me-1">
      <span class="tag is-danger is-light">{{reservation.date.debut|date('d/m/Y')}}</span>
      <span class="tag">
        <i class="fas fa-arrow-right" style="font-size:0.8rem"></i>
      </span>
     </div>
    <div class="tags has-addons">
      <span class="tag is-danger is-light">{{reservation.date.fin|date('d/m/Y')}}</span>
    </div>
    <div class="tags has-addons">
      <span class="tag"><i class="fas fa-suitcase"></i></span>
      <span class="tag  is-danger is-light">{{ reservation.status }}</span>
      <span class="tag is-info is-light">
      <a
        href="{{ path('frontend_user_reservation', {'reservation':reservation.id}) }}"
        title="{{'Editar datos de la reserva'|trans}}"
        data-bs-toggle="tooltip"
      >
        <i class="fa fa-edit "></i>
      </a>
    </span>
    </div>

    </h2>
    </div>
  </div>
  </div>
  <div class="card-body reservation-container">
    <div class="reservationOptions box">
      {# <h5>{{'Datos de la reserva'|trans}}</h5>
        <div class="tags has-addons">
          <span class="tag is-dark"><i class="fas fa-suitcase"></i></span>
          <span class="tag is-info">{{ reservation.status }}</span>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a
            class="btn btn-sm btn-rakatanga-blue{% if reservation.status == 'cancelled' %} d-none{% endif %}"
            href="{{ path('frontend_user_reservation', {'reservation':reservation.id}) }}">
            <i class="fa fa-edit "></i>
              {{'Editar los datos de la reserva'|trans}}
          </a>
        </div>
        <br /> #}

        <h5>
          {{'Datos y documentación'|trans}}
        </h5>
        <h6>
          {{'Tus datos'|trans}}
        </h6>
          {{ _self.showUsersDocumentsLine(documentsByUser,reservation) }}
        {% if reservation.travellers|length > 0 %}
          <h6 class="mt-1">
            {{'Datos de tus acompañantes'|trans}}
          </h6>
        {% endif %}
        {% for traveller in reservation.travellers %}

          {% set documentsByTraveller = listDocumentsByReservationByTraveller(reservation, traveller ) %}
          {{ _self.showTravellersDocumentsLine(documentsByTraveller, traveller, reservation) }}
        {% endfor %}
        <h5 class="mt-1">{{'Mensajes enviados'|trans}}</h5>

        {% for mailing in reservation.mailings %}
        <div class="tags has-addons">
          <span class="tag is-light">
            <i class="fas fa-envelope" style="margin:2px"></i>
          </span>
          <span class="tag">
            {% if mailing.dateSent != null %}
              {{ mailing.dateSent|date('d/m/Y') }}
            {% endif %}
          </span>
          <span class="tag">
            <a
              href="#"
              target="_blank"
              title="{{mailing.subject}}"
              data-action="read-more"
              data-title="{{mailing.subject}}"
              data-content="{{ mailing.content|raw|escape }}"
              data-bs-toggle="tooltip">
              {# {{ mailing.subject|u.truncate(40,'...') }} #}
              ... {{ mailing.subject|slice(17,20) }}...
              </a>
          </span>
        </div>
        <br />
          {% else %}
          {{ 'No hay mensajes enviados asociados a esta reserva'|trans }}.
        {% endfor %}
    </div>

    {% set totalAmmount = 0 %}
    <div class="box reservationCalculator">
      <h5>{{'Cálculo de la reserva'|trans}}</h5>
        <div class="tags has-addons">
          <span class="tag is-light has-fontawesome"><i class="fas fa-motorcycle"></i></span>
          <span class="tag is-info is-light">{{reservation.nbpilotes}}</span>
          <span class="tag is-light has-concept">{{ 'Pilotos'|trans }}</span>
          {% set totalAmmount = totalAmmount + reservation.nbpilotes * reservation.date.prixPilote %}
            <span class="tag is-light">
              <strong>
                {{ (totalAmmount)|format_currency('EUR') }}
              </strong>
            </span>
          </div><br />
          {% if reservation.nbAccomp > 0 %}
          <div class="tags has-addons">
            <span class="tag is-light has-fontawesome">
              <i class="fas fa-user"></i>
            </span>
            <span class="tag is-info is-light">{{reservation.nbaccomp}}</span>
            <span class="tag is-light has-concept">{{ 'Acompañantes'|trans }}</span>
              {% set totalAmmount = totalAmmount + reservation.nbAccomp * reservation.date.prixAccomp %}
            <span class="tag is-light"><strong>{{ (reservation.nbAccomp * reservation.date.prixAccomp)|format_currency('EUR') }}</strong>
          </div><br />
          {% endif %}
          {% for reservationOption in reservation.reservationOptions %}
            <div class="tags has-addons">
              <span class="tag is-light has-fontawesome">
                <i class="fas fa-puzzle-piece"></i>
              </span>
              <span class="tag is-info is-light">
                {{reservationOption.ammount}}
              </span>
              <span
                class="tag is-light has-concept"
                title="{{renderLocalizedOption(reservationOption.option.id,'es')}}"
                data-bs-toggle="tooltip">
                  {{renderLocalizedOption(reservationOption.option.id,'es')|u.truncate(20,'...')}}
              </span>
              {% set totalAmmount = totalAmmount + reservationOption.ammount * reservationOption.option.price %}
              <span
                class="tag is-light">
                <strong>
                    {{ (reservationOption.ammount * reservationOption.option.price)|format_currency('EUR') }}
                  </strong>
                </span>
              </div>
              <br />
        {% endfor %}
        {% if reservation.codespromo is defined and reservation.codespromo != null %}
         {% set discount = 0 %}
          <div class="tags has-addons">
            <span class="tag is-light has-fontawesome"><i class="fas fa-minus"></i></span>
            <span class="tag is-danger">{{ 'Descuento'|trans }} : {{ reservation.codespromo.code }}</span>
            <span class="tag is-danger">
              <strong class="small">
                  {% if reservation.codespromo.montant != 0 %}
                    - {{ reservation.codespromo.montant|format_currency('EUR', {fraction_digit: 2}, locale=app.request.getLocale() ) }}
                    {% set discount = reservation.codespromo.montant %}
                  {% elseif reservation.codespromo.pourcentage != 0 %}
                    - {{ reservation.codespromo.pourcentage }}%
                    {% set discount = totalAmmount * reservation.codespromo.pourcentage / 100 %}
                    {{discount|format_currency('EUR', {fraction_digit: 2}, locale=app.request.getLocale() )}}
                  {% endif %}
                </strong>
              </span>
          </div>
            {% set totalAmmount = totalAmmount - discount %}
            <br />
        {% endif %}
            <div class="tags has-addons">
              <span class="tag is-light has-fontawesome">
                <i class="fas fa-plus"></i>
              </span>
              <span class="tag is-success">
                <strong>{{ 'Total'|trans }}</strong>
              </span>
              <span class="tag is-success has-total">{{ totalAmmount|format_currency('EUR') }}</span>
          </div>
          <br />
        {% for payment in reservation.payments %}
              <div class="tags has-addons">
                <span class="tag is-light has-fontawesome"><i class="fas fa-coins"></i></span>
                <span class="tag is-success">{{ 'Pago'|trans }}</span>
                <span class="tag is-light">{{ payment.dateAjout|date('d/m/Y') }}</span>
                <span class="tag is-light has-payment">
                  {{ payment.ammount|format_currency('EUR') }}
                </span>
              </div>
              <br />
            {% set totalAmmount = totalAmmount - payment.ammount %}
          {% endfor %}
          {% if totalAmmount > 0 %}
              <div class="tags has-addons">
                <span class="tag is-light has-fontawesome"><i class="fas fa-coins"></i></span>
                <span class="tag is-danger is-light">{{'Resto a pagar'|trans}}</span>
                <span class="tag is-danger is-light has-tobepaid">
                    {{ totalAmmount|format_currency('EUR') }}
                </span>
                <span class="tag is-danger is-light has-creditcard">

                  <a
                    href="{{ path('reservation_payment',{'reservation':reservation.id}) }}"
                    data-bs-toggle="tooltip"
                    title="{{ 'Realizar el pago'|trans }}"
                    ><i class="fas fa-credit-card"></i>
                  </a>
                </span>
              </div><br />
            {% endif %}
            <h5 class="mt-1">{{ 'Facturas'|trans }}</h5>
              {% if reservation.invoice != null %}
                <div class="tags has-addons">
                  <span class="tag is-light has-fontawesome"><i class="fas fa-receipt"></i></span>
                  <span class="tag">
                    {{ reservation.invoice.invoiceNumber}}
                  </span>
                  <span class="tag">
                    <a
                      href="{{path('user-download-invoice',{'invoice': reservation.invoice.id})}}"
                      title="{{ reservation.invoice.filename }}"
                      data-bs-toggle="tooltip">
                      <i class="fas fa-download"></i>
                    </a>
                    </span>
                </div>
              {% else %}
                <p>{{ 'No se han generado facturas para esta reserva'|trans }}.</p>
              {% endif %}
      </div>
    </div>
</div>