{% set newTotal = 0 %}

{% set duePayment = (renderReservationDuePayment(reservation)) %}
{% set totalAmmount = (renderReservationAmmount(reservation)) %}

<div class="card">
  <div class="card-body">
    {{'Reserva actualizada'|trans}}
    <br />
    <a class="btn btn-primary" href="{{ path('frontend_user_reservations')}}">
      {{ 'Volver a ver mis reservas'|trans }}
    </a>
    <br /><br />
    {% if duePayment > 0%}
    <a id="js-reservation-payment" class="btn btn-info" href="{{ path('reservation_payment',{ 'reservation': reservation.id, '_locale':app.request.getLocale() })}}">
      {{ 'Pagar la cantidad restante'|trans }} : {{ duePayment|format_currency('EUR', {fraction_digit: 2}, locale=app.request.getLocale() ) }}
    </a>
    {% endif %}
  </div>
</div>