<p class="text-center"><strong>{{'Nivel de datos completados'|trans({}, null, locale)}}: {{ratio|round(0)}} %</strong></p>

<p>{{'A continuación puedes añadir los datos de tu viaje en este espacio de cliente. En tu reserva actual te pedimos que nos aportes tu documentación y datos del viaje para así poder asistirte mejor'|trans({}, null, locale) }}.</p>
<p>{{'Intenta tener, en tu ordenador, el escaneado de tu Pasaporte, visado y carnet de conducir así como datos de vuelo y seguro'|trans({}, null, locale) }}. </p>
<p>{{'Si en este momento no dispones de ellos puedes venir en otro momento y depositar tus datos'|trans({}, null, locale) }}.</p>
<p>{{'Estos datos están protegidos por la LOPD y las imágenes de escaneado estarán protegidas de modo que sólo tú y nosotros podremos acceder a ellos con el objetivo de poder realizar las gestiones necesarias para la tramitaciónd e tu viaje'|trans({}, null, locale) }}. </p>
<p>{{'En el cuadro de "reservas" verás este esquema que te mostramos aquí debajo tanto para tí como para cada viajero acompañante'|trans({}, null, locale) }}. </p>
<p>{{'Para ello deberás cerrar esta ventana flotante, y desde la ventana de tus reservas hacer click en el botón azul tal y como te mostramos aquí'|trans({}, null, locale) }}.</p>

<img src="{{asset('images/reservationData.png')}}">