<h2>{{'Transferencia'|trans}}</h2>
<h3>{{'Llegada'|trans}}</h3>
<div class="row">
	<div class="col-md-4 col-12">
		{% if( form.flightNumber.vars.value != '' ) %}
			{% set inputIsFull = ' is-valid' %}
		{% set inputFilled = true %}
		{% else %}
			{% set inputIsFull = '' %}
			{% set inputFilled = false %}
		{% endif %}
		{{ form_row(form.flightNumber,{
									'label': 'Nº de vuelo de ida'|trans,
									'attr':{
											'data-type':form.flightNumber.vars.name,
											'title':'Número del vuelo'|trans,
											'class': inputIsFull
									}
							}) }}
	</div>
	<div class="col-md-8 col-12">
		<div class="input-daterange" id="datepicker">
			<div class="row">
				<div class="col-md-6 col-12">
					{% if( form.flightArrival.vars.value != '' ) %}
						{% set inputIsFull = ' is-valid' %}
						{% set inputFilled = true %}
					{% else %}
						{% set inputIsFull = '' %}
						{% set inputFilled = false %}
					{% endif %}
					{{ form_row(form.flightArrival,{
															'label': 'Fecha de llegada'|trans,
															'attr': {
																	'data-type' : form.flightArrival.vars.name,
																	'title':'Fecha de llegada'|trans,
																	'class': inputIsFull,
																	'data-filled': inputFilled
															}
													}) }}
				</div>
				<div class="col-md-6 col-12">
					{% if( form.flightDeparture.vars.value != '' ) %}
						{% set inputIsFull = ' is-valid' %}
						{% set inputFilled = true %}
					{% else %}
						{% set inputIsFull = '' %}
						{% set inputFilled = false %}
					{% endif %}
					{{ form_row(form.flightDeparture,{
															'label': 'Fecha de regreso'|trans,
															'attr': {
																	'data-type' : form.flightDeparture.vars.name,
																	'title':'Fecha de regreso'|trans,
																	'class': inputIsFull,
																	'data-filled': inputFilled
															}
													}) }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-12">
		{% if( form.flightArrivalAirport.vars.value != '' ) %}
			{% set inputIsFull = ' is-valid' %}
			{% set inputFilled = true %}
		{% else %}
			{% set inputIsFull = '' %}
			{% set inputFilled = false %}
		{% endif %}
		{{ form_row(form.flightArrivalAirport,{
									'label': 'Aeropuerto de llegada'|trans,
									'help': 'Empieza a escribir y te sugerimos una propuesta'|trans,
									'attr': {
											'data-type' : form.flightArrivalAirport.vars.name,
											'title':'Aeropuerto de llegada'|trans,
											'class': inputIsFull,
											'data-filled': inputFilled
									}
							}) }}
	</div>
	<div class="col-md-6 col-12">
		{% if( form.ArrivalHotel.vars.value != '' ) %}
			{% set inputIsFull = ' is-valid' %}
			{% set inputFilled = true %}
		{% else %}
			{% set inputIsFull = '' %}
			{% set inputFilled = false %}
		{% endif %}
		{{ form_row(form.ArrivalHotel,{
									'label': 'Hotel a la llegada'|trans,
									'attr': {
											'data-type' : form.ArrivalHotel.vars.name,
											'title':'Hotel de llegada'|trans,
											'class': inputIsFull,
											'data-filled': inputFilled
									}
							}) }}
	</div>
</div>
<h3>{{'Regreso'|trans}}</h3>
<div class="row">
	<div class="col-md-4 col-12">
		{% if( form.flightDepartureNumber.vars.value != '' ) %}
			{% set inputIsFull = ' is-valid' %}
			{% set inputFilled = true %}
		{% else %}
			{% set inputIsFull = '' %}
			{% set inputFilled = false %}
		{% endif %}
		{{ form_row(form.flightDepartureNumber,{
									'label': 'Nº de vuelo de regreso'|trans,
									'attr': {
											'data-type' : form.flightDepartureNumber.vars.name,
											'title':'Vuelo de regreso'|trans,
											'class': inputIsFull,
											'data-filled': inputFilled
									}
							}) }}
	</div>
	<div class="col-md-4 col-12">
		{% if( form.flightDepartureAirport.vars.value != '' ) %}
			{% set inputIsFull = ' is-valid' %}
			{% set inputFilled = true %}
		{% else %}
			{% set inputIsFull = '' %}
			{% set inputFilled = false %}
		{% endif %}
		{{ form_row(form.flightDepartureAirport,{
									'label': 'Aeropuerto de salida (regreso)'|trans,
									'help': 'Empieza a escribir y te sugerimos una propuesta'|trans,
									'attr': {
											'data-type' : form.flightDepartureAirport.vars.name,
											'title': 'Aeropuerto de salida'|trans,
											'class': inputIsFull,
											'data-filled': inputFilled
									}
							}) }}
	</div>
	<div class="col-md-4 col-12">
		{% if( form.DepartureHotel.vars.value != '' ) %}
			{% set inputIsFull = ' is-valid' %}
			{% set inputFilled = true %}
		{% else %}
			{% set inputIsFull = '' %}
			{% set inputFilled = false %}
		{% endif %}
		{{ form_row(form.DepartureHotel,{
									'label': 'Hotel antes del regreso'|trans,
									'attr': {
											'data-type' : form.DepartureHotel.vars.name,
											'title' : 'Hotel de salida'|trans,
											'class' : inputIsFull,
											'data-filled': inputFilled
									}
							}) }}
	</div>
</div>