{% set paymentsCount = 0 %}

{% for reservation in user.reservations %}
    {% for payment in reservation.payments %}
        {% set paymentsCount = paymentsCount +1 %}
    {% endfor %}
{% endfor %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-4 col-xs-12">
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row(form.email, {'label':'Correo electrónico'}) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row( form.langue, {'label':'Idioma'} ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row( form.prenom, {'label':'Nombre'} ) }}
                </div>
                <div class="col-6">
                    {{ form_row( form.nom, {'label':'Apellido'} ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row( form.telephone, {'label':'Teléfono'} ) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row( form.idcard, {'label':'Nº de identidad'} ) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row( form.nationality, {'label':'Nacionalidad'} ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row( form.address, {'label':'Dirección'} ) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row( form.postcode, {'label':'Código Postal'} ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row( form.city, {'label':'Ciudad'} ) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row( form.country, {'label':'País'} ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row( form.position, {'label':'Posición'} ) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row( form.sizes, {'label':'Tamaño de la camiseta'} ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row( form.password, {'label':'Contraseña'} ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row( form.Register, {'label':'Guardar'} ) }}
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-12">
        {% if user is defined and user.id != null %}
            {{ include('admin/user/partials/_tabs_related.html.twig') }}
        {% endif %}
    </div>
{{ form_end(form) }}
