<tr{% if user.reservations|length > 0 %} class="alert alert-info"{% endif %}>
  <td data-cell="id">{{ user.id }}</td>
  <td data-cell="Email"><a href="{{path('user_edit',{'id':user.id})}}">{{ user.email }}</a></td>
  {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
  <td data-cell="Idioma">{{ user.langue }}</td>
  <td data-cell="Apellidos">{{ user.nom }}</td>
  <td data-cell="Nombre">{{ user.prenom }}</td>
  <td data-cell="Teléfono">{{ user.telephone }}</td>
  <td data-cell="Reservas">{% for reservation in user.reservations %}
      <a
        href="{{path('reservation_edit',{id:reservation.id})}}"
        data-bs-toggle="tooltip"
        title="{{reservation.date.debut|date('d/m/Y')}} {{reservation.date.travel}}">
          <i class="fa fa-motorcycle"></i>
      </a>
      {% endfor %}
  </td>
  <td data-cell="Borrar">
      {{ include('admin/user/_delete_form.html.twig') }}
  </td>
</tr>