{{ form_start(form) }}
    <div class="row">
		<div class="col-7 col-xs-12">
            <fieldset>
                <h4>Résa n° {{ reservation.code }}</h4>
                <hr>
                <table class="table">
                    <tr>
			            <td>
                            <strong>Voyage :</strong>
                        </td>
                        <td> {{ reservation.date.travel }}</td>
                    </tr>
                    <tr>
                        <td><strong>Période :</strong></td>
                        <td> del {{reservation.date.debut|date('d')}}
                                    {% if reservation.date.debut|date('m') !=  reservation.date.fin|date('m') %}
                                    de {{ reservation.date.debut|date()|format_datetime(pattern="MMMM",locale='es-ES') }} 
                                    {% endif %}
                                    al {{reservation.date.fin|date()|format_datetime(pattern="d MMMM YYYY",locale='es-ES')}}
                        </td>
                    </tr> 
                        {% if reservation.codespromo != '' %}
                        <tr>
                            <td><strong>Code promo :</strong></td><td> {{ reservation.codespromo }}</td>
                        </tr>
                        {% endif %}
                <tr>
                    <td><strong>Date :</strong></td><td> {{reservation.dateAjout|date()|format_datetime(pattern="d MMMM YYYY HH:mm",locale='es-ES')}}</td>
                </tr>
                <tr>
                    <td><strong>Nº pilotos :</strong></td>
                    <td> {{reservation.nbpilotes}}</td>
                </tr>
                {% if reservation.nbAccomp > 0 %}
                    <tr>
                        <td><strong>Nº Acompañantes :</strong></td>
                        <td> {{reservation.nbaccomp}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><strong>Commentaire :</strong></td>
                    <td> {{ reservation.comment|raw|escape }} </td>
                </tr>
            </table>

                        {# <a 
                        class="btn btn-secondary ms-2" 
                        href="#"
                        data-action="read-more"
                        data-content="{{ reservation.log|raw|escape }}" 
                        data-bs-toggle="toggle"
                        title="Ver el email">Voir le mail</a> #}
                        <h4>Mensajes</h4>
                        {% for mailing in reservation.mailings %}
                            <div class="tags has-addons">
                                <span class="tag is-light">
                                <i class="fas fa-envelope" style="margin:2px"></i>
                                </span>
                                <span class="tag">
                                {% if mailing.dateSent != null %}
                                    {{ mailing.dateSent|date('d/m/Y') }}
                                {% endif %}
                                </span>
                                <span class="tag">
                                <a
                                    href="#"
                                    target="_blank"
                                    title="{{mailing.subject}}"
                                    data-action="read-more"
                                    data-title="{{mailing.subject}}"
                                    data-content="{{ mailing.content|raw|escape }}"
                                    data-bs-toggle="tooltip">
                                {# {{ mailing.subject|u.truncate(40,'...') }} #}
                                    ... {{ mailing.subject|slice(17,85) }}...
                                    </a>
                                </span>
                                {# <span class="tag is-link is-light">
                                    <i class="fas fa-arrow-left" style="font-size:0.8rem"></i> &nbsp;
                                    <a
                                        href="#"
                                        target="_blank"
                                        title="{{mailing.subject}}"
                                        data-action="read-more"
                                        data-title="{{mailing.subject}}"
                                        data-content="{{ mailing.content|raw|escape }}"
                                        data-bs-toggle="tooltip">
                                        {{'Ver el mensaje'|trans }}
                                    </a>
                                </span> #}
                            </div>
                            <br />
                        {% else %}
                            {{ 'No hay mensajes enviados asociados a esta reserva'|trans }}.
                        {% endfor %}
            </fieldset>
        </div>
        <div class="col-5 col-xs-12">
            <fieldset>
            {{ include('user/_cards/_card_reservation_calculator_styled.html.twig') }}
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <fieldset>
                <h4> VIAJEROS </h4>
                <table class="table table-condensed">
                    <thead>
                        <th>Viajero</th>
                        <th>Posición</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Lengua</th>
                        <th>Status</th>
                        <th></th>
                    <thead>
                    <tbody>
                        {% for traveller in reservation.travellers %}
                        <tr>
                            <td> {{ traveller.prenom }} {{ traveller.nom }} </td>
                            <td><i class="fa 
                                {% if traveller.position == "pilote" %}
                                    fa-motorcycle
                                {% else %}
                                    fa-user
                                {% endif %}"></i>
                            </td>
                            <td>{{traveller.email}}</td>
                            <td>{{traveller.telephone}}</td>
                            <td>{{traveller.langue}}</td>
                            <td class="text-right">
                                <a 
                                    class="btn btn-secondary btn-xs"
                                    href="{{ path('travellers_edit',{'id': traveller.id}) }}" 
                                    data-bs-toggle="toggle"
                                    title="Modifier"
                                    target="_blank">Modifier</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-4 col-xs-12">
                        {{ form_row(form.note) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.date) }}
                    </div>
                    <div class="col-8 col-xs-12">
                            {% if reservation.id != null%}
                                {{ include('admin/reservation/partials/_tabs_related.html.twig') }}
                            {% endif %}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- Nav tabs -->
    <div class="row">
        <div class="col-4">
            <button class="btn btn-success">
                <i class="fa fa-save"></i> {{ button_label|default('Save') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
