<li class="list-group-item clearfix{% if reservation.status == 'cancelled' %}
    raye alert-danger
{% endif %}">
    <h3 class="list-group-item-heading">
        {# {{ reservation.id }} #}
        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">
            {{ reservation.code }}
        </a>
        <a href="{{ path('travel_show', {
                'id' : reservation.date.travel.id
            }) }}">
            {{ renderLocalizedCategory(reservation.date.travel.category.id,'es') }} -
            {{ renderLocalizedTravel(reservation.date.travel.id, 'es') }}
        </a>
        {% if reservation.dateAjout|date('d/m/Y') == "now"|date('d/m/Y') %}
            <span class="badge bg-danger pull-right">HOY !</span>
        {% endif %}
        <a class="date" href="{{ path('dates_show', {
              'id' : reservation.date.id
          }) }}">
          {{ reservation.date.debut|date('d/m/Y') }}
          {{ reservation.date.fin|date('d/m/Y') }}
        </a>
    </h3>
    {% if reservation.user is defined %}
    <div class="tags has-addons">
      <span class="tag is-dark"><i class="fas fa-user"></i></span>
      <span class="tag is-link">
        <a
          href="{{path('user_edit',{'id':reservation.user.id})}}"
          data-bs-toggle="tooltip"
          title="Visualizar los datos del usuario">
          {{ reservation.user.prenom }} {{ reservation.user.nom }}[{{ reservation.user }}]
        </a>
      </span>
    </div>
    {% endif %}
    <div class="tags has-addons">
        <span class="tag is-dark">
            <i class="fas fa-receipt"></i>
        </span>
        <span
            class="tag is-info"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ reservation.status }}">
            {{ reservation.status }}
        </span>
    </div>
<br />

      <span class="badge bg-primary">
          {{ reservation.nbPilotes }}
      </span>

      <span class="badge bg-primary">
          {{ reservation.nbaccomp }}
      </span>

    {{ renderReservationAmmount(reservation)|format_currency('EUR', {fraction_digit: 2}, 'es' ) }}



  {{ reservation.dateAjout ? reservation.dateAjout|date('Y-m-d H:i:s') : '' }}

  {% if reservation.payments|length > 0 %}
    {% for payment in reservation.payments %}
        {{ payment.dateAjout|date('Y-m-d H:i:s') }}
    {% endfor %}
  {% endif %}


      <ul>
          {% for reservationOption in reservation.reservationOptions %}
              <li>
                  {{ reservationOption.ammount }} -
                  {{ renderLocalizedOption(reservationOption.option.id,'es') }}
              </li>
          {% endfor %}
      </ul>

      {# <a
          href="{{ path('reservation_show', {'id': reservation.id}) }}"
          class="btn btn-primary">
          <i class="fa fa-eye"></i>
      </a> #}
      <button
            class="btn btn-primary js-send-checkin-request"
            data-reservation-id="{{reservation.id}}"
            data-action="send-checkin-request"
            data-bs-toggle="tooltip"
            data-swal-waiting-title="Enviando un email"
            data-swal-waiting-text="Estamos enviando un email con in vínculo "
            title="Enviar un email para pedir los datos">
            <i class="fas fa-envelope"></i>
        </button>
  </td>
  {# <td>
      <a
          href="{{ path('reservation_edit', {'id': reservation.id}) }}"
          class="btn btn-info">
          <i class="fa fa-edit"></i>
      </a>
  </td> #}
  <td>
      {{ include('admin/reservation/_delete_form.html.twig') }}
  </td>
</li>