
    <div class="row">
        <div class="col-4 col-xs-12">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row(form.code) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row(form.libelle) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row(form.montant) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row(form.pourcentage) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-12">
                    {{ form_row(form.commentaire) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-12">
                    {{ form_row(form.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row(form.nombre, {
                        'label': 'Núm. Máximo de utilizaciones'
                    }) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row(form.nombreTotal, {
                        'label': 'Núm de utilizaciones'
                    }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-12">
                    <div class="input-daterange input-group" id="datepicker">
                        {{ form_row(form.debut) }} &nbsp; &nbsp;
                        {{ form_row(form.fin) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-6 col-xs-12">
                    {{ form_row(form.user) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-12">
                    {{ form_row(form.statut) }}
                </div>
            </div>
                <button class="btn btn-success">
                <i class="fa fa-save"></i>
                {% if form.vars.value.id == null %}
                    {{ button_label|default('Guardar') }}
                {% else %}
                    {{ button_label|default('Actualizar') }}
                {% endif %}
            </button>
            {% if form.vars.value.id != null %}
                {{ include('admin/codespromo/_delete_form.html.twig') }}
            {% endif %}
            {{ form_end(form) }}
        </div>
        <div class="col-8 col-xs-12">
            {% if codespromo != null %}
                {{ include( 'admin/codespromo/_tabs_related.html.twig' )}}
            {% endif %}
        </div>
    </div>


