<tr>
  {# <td data-cell="Id">{{ codespromo.id }}</td> #}
  <td data-cell="Código"><a href="{{ path('codespromo_edit', {'id': codespromo.id}) }}" class="btn btn-info">{{ codespromo.code }}</a></td>
  {# <td data-cell="">{{ codespromo.libelle }}</td> #}
  <td data-cell="Comentario">{{ codespromo.commentaire }}</td>
  <td data-cell="Cantidad">{{ codespromo.montant }}</td>
  <td data-cell="Porcentaje">{{ codespromo.pourcentage }}</td>
  <td data-cell="Tipo">{{ codespromo.type }}</td>
  <td data-cell="Número">{{ codespromo.nombre }}</td>
  <td data-cell="Fechas">{{ codespromo.debut ? codespromo.debut|date('Y-m-d') : '' }}<br />
  {{ codespromo.fin ? codespromo.fin|date('Y-m-d') : '' }}</td>
  <td data-cell="Email">{{ codespromo.email }}</td>
  <td data-cell="Estatus">{{ codespromo.statut }}</td>
  <td data-cell="Fecha de Creación">{{ codespromo.dateAjout ? codespromo.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
  <td data-cell="Usuario">{{ codespromo.user }}</td>
  <td data-cell="Borrar">
      {{ include('admin/codespromo/_delete_form.html.twig') }}
  </td>
</tr>
