{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4 col-xs-12">
            {{ form_row(form.travel,
                {
                'label': 'Viaje',
                'attr':
                    {'class':'form-control form-select'}
                }) }}
            <div class="input-daterange input-group row" id="datepicker">
            <div class="col-6 col-xs-12">
                    {{ form_row(form.debut,{
                        'label':'Fecha de salida'
                    }) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row(form.fin,{
                        'label':'Fecha de regreso'
                    }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row(form.prixPilote,{
                        'label':'Precio del piloto'
                    }) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row(form.prixAccomp,{
                        'label':'Precio del acompañante'
                    }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-12">
                    {{ form_row(form.statut,
                        {   'label':'Estado',
                            'attr':{'class':'form-control form-select'}})
                    }}
                </div>
            </div>
    </div>
    <div class="col-8 col-xs-12">
    <!-- Nav tabs -->
    {% if dates is defined and dates.id != null %}
    {{include('admin/dates/_tabs_related.html.twig')}}
    {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <br />
            <button
                class="btn btn-success"
                title="{{ button_label|default('Guardar') }}"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                >
                <i class="fa fa-save"></i>
            </button>
            <br />
        </div>
    </div>
{{ form_end(form) }}
