    {% set rowStyle = 'open' %}

    {% if date.fin|date("U") < "now"|date("U") %}
        {% set rowStyle = 'full' %}
    {% endif %}
    <tr class="custom-style-{{ rowStyle }}">
        <td data-cell="Viaje">
            <a href="{{ path('dates_edit', {'id': date.id}) }}">
                <strong>{{ date.travel.category }}</strong> <br />
                {{ date.travel }}
            </a>
        </td>
        <td data-cell="Comienzo">{{ date.debut ? date.debut|date('d-m-Y') : '' }}</td>
        <td data-cell="Final">{{ date.fin ? date.fin|date('d-m-Y') : '' }}</td>
        <td data-cell="dias">
            {% set difference = date(date.fin).diff(date(date.debut)) %}
            {% set duration = difference.days %}
            {{ duration }}
        </td>
        <td data-cell="Precio del piloto">{{ date.prixPilote|format_currency('EUR', {fraction_digit: 0}) }}</td>
        <td data-cell="Precio del acompañante">{{ date.prixAccomp|format_currency('EUR', {fraction_digit: 0}) }}</td>
        <td data-cell="Número total de reservas">{{ date.reservations|length + date.oldreservations|length }}</td>
        <td data-cell="Estatus">
            <span class="badge bg-{% if date.statut == "open" or date.statut == "abierto" %}success{% elseif date.statut == "closed" or date.statut == "full" %}danger{% endif %}">
                {{ date.statut }}
            </span>
        </td>
        <td data-cell="Borrar">
            {{ include('admin/dates/_delete_form.html.twig') }}
        </td>
    </tr>