{% extends 'admin/base.html.twig' %}

{% block title %}Dates index
{% endblock %}

{% block body %}
	<div class="container">
		{{ include ('admin/shared/_controlband.html.twig',{'entity':'dates'})}}
		<div class="row mb-4">
			<div class="col-md-12 col-12">
				<h1>Lista de Fechas</h1>
			</div>
		</div>
		<div class="row mb-4">
			<div class="count col-md-3 col-xs-12">
				<strong>Fechas en total:</strong>
				<span id="totalItemCount">{{dates|length}}</span>
			</div>
			<div class="col-md-1 offset-md-7 col-xs-12">
				{{ include('admin/dates/_filter_results.html.twig') }}
			</div>
		</div>
		<div class="row">
			<div class="navigation">
				{{ knp_pagination_render(dates) }}
			</div>
			<div class="table-data">
				<div>
					<table class="table table-hover small">
						<thead>
							<tr>
								<th class="main-red">
									Viaje
								</th>
								<th class="main-red{% if dates.isSorted('d.debut') %} sorted{% endif %}">
									{{ knp_pagination_sortable(dates, 'Inicio', 'd.debut',{'class':'text-decoration-none link-light'}) }}
								</th>
								<th class="main-red">
									Fin
								</th>
								<th class="main-red">
									Dias
								</th>
								<th class="main-red">
									Piloto
								</th>
								<th class="main-red">
									Acompañante
								</th>
								<th class="main-red">
									Reservas
								</th>
								<th class="main-red">
									Estatus
								</th>
								<th class="main-red">
									<i class="fa fa-trash"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							{% for date in dates %}
								{{ include('admin/dates/_row.html.twig') }}
							{% else %}
								<tr>
									<td colspan="10">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="navigation mt-4">
				{{ knp_pagination_render(dates) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
