{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-12 card p-4">
            <h1>{{'Reset your password'|trans}}</h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">{{'Reset password'|trans}}</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
</div>
{% endblock %}
