<tr>
    <td>{{ traveller.prenom }}</td>
    <td>{{ traveller.nom }}</td>
    <td>{{ traveller.email }}</td>
    <td>{{ traveller.telephone }}</td>
    <td>
      <a
        href="#"
        class="btn btn-primary"
        data-action="js-open-traveller-form"
        data-traveller="{{ traveller.id }}">
        <i class="fas fa-edit"></i>
    <td>
  </tr>