

<div class="card">
    <div class="card-body form-group">
        <div class="container">
            {# <form action="{{ path('user_reservation_travellers_save',{'reservation':reservation.id}) }}" method="POST"> #}
            <form action="" method="POST">
            {% for i in 1..((nbpilotes+nbaccomp)) %}
                {% set value = null %}
                {% if i == 1 %}
                    {% set value = reservation.user %}
                {% elseif i > 1 and (nbpilotes+nbaccomp) > 1 %}
                    {% if reservation.travellers|length > 0 %}
                            {% set value = attribute(reservation.travellers,i-1) %}
                    {% endif %}
                {% endif %}
                <div
                    class="js-travellers-form-container{% if i == 1 or i == (nbpilotes+1) %}
                         js-contains-button
                    {% endif %}"
                    >
                    <div class="row{% if i > 1 %} mt-4{% endif %}">
                        <div class="col-12">
                            <h5>
                            {% if i < (nbpilotes+1) %}
                                {{'Piloto'|trans}} {{(i)}}
                            {% else %}
                                {{'Pasajero'|trans}} {{(i-nbpilotes)}}
                            {% endif %}
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% if i == 1 or i == (nbpilotes+1) %}
                            <button
                                class="btn btn-secondary small js-assign-to-user">
                                    {{'Asignarme este puesto' | trans}}
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label
                                for="traveller_{{i-1}}_prenom">{{ 'Nombre'|trans }}
                            </label>
                            <input
                                name="traveller[{{i-1}}][prenom]"
                                id="traveller_{{i-1}}_prenom"
                                type="text"
                                class="form-control"
                                {% if value != null %}
                                    value="{{ value.prenom }}"
                                {% endif %} />
                        </div>
                        <div class="col-6">
                            <label
                                for="traveller_{{i-1}}_nom">
                                {{ 'Apellidos'|trans }}
                            </label>
                            <input
                                name="traveller[{{i-1}}][nom]"
                                id="traveller_{{i-1}}_nom"
                                type="text"
                                class="form-control"
                                {% if value != null %}
                                    value="{{ value.nom }}"
                                {% endif %} />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="traveller_{{i-1}}_email">
                                {{ 'Email'|trans }}
                            </label>
                            <input
                                name="traveller[{{i-1}}][email]"
                                id="traveller_{{i-1}}_email"
                                type="email"
                                class="form-control"
                                placeholder="{{'usuario'|trans}}@{{'dominio.com'|trans}}"
                                {% if value != null %}
                                    value="{{ value.email }}"
                                {% endif %} />
                        </div>
                        <div class="col-6">
                            <label for="traveller_{{i-1}}_telephone">
                                {{ 'Teléfono'|trans }}
                            </label>
                            <input
                                name="traveller[{{i-1}}][telephone]"
                                id="traveller_{{i-1}}_telephone"
                                type="tel"
                                class="form-control"
                                placeholder="+00 000000000"
                                {# pattern="+[0-9]{2} [0-9]{9}" #}
                                {% if value != null %}
                                    value="{{ value.telephone }}"
                                {% endif %} />
                        </div>
                        <input
                            type="hidden"
                            name="traveller[{{i-1}}][position]"
                            value="{% if i < nbpilotes %}pilote{% else %}passager{% endif %}" />
                        <input
                            type="hidden"
                            name="traveller[{{i-1}}][id]"
                            {% if value != null %}
                                value="{{ value.id }}"
                            {% endif %} />
                    </div>
                </div>
            {% endfor %}
            <br />
            <button
                data-action="js-add-travellers"
                class="btn btn-primary">
                {{'Guardar los datos de Viajeros/as'|trans }}
            </button>
            </form>
        </div>
    </div>
</div>