<div class="card card-default mb-4 shadow">
    <div class="card-body">
        <p>{{'Reserve su viaje rellenando el formulario, despues de enviarlo recibirá un mail de confirmacion con los modos de pago seguros (tarjeta de credito o Paypal) o por giro bancario para validarla'|trans}}. {{'Todos nuestros precios son con impuestos incluidos'|trans}}.</p>
        <p>{{'Las reservas serán efectivas después del pago de 500 € por persona, o si lo desea, la totalidad del mismo'|trans}}. {{'El saldo deberá pagarse como muy tarde 30 días antes de la salida'|trans}}. {{'La reserva implica la aceptación de nuestras condiciones generales de venta'|trans}}.</p>
    </div>
</div>
