
<div
    class="{% if i == (nbpilotes) %}
      js-contains-button
    {% endif %}"
    data-container="js-travellers-form-container"
    data-validation-title="{{'El formulario no está completo'|trans}}"
    data-validation-message="{{'Faltan campos por rellenar correctamente'|trans}}">
    <div class="row{% if i > 1 %} mt-4{% endif %}">
      <div class="col-12">
        <h5>
        {# {% if valueId != null %}{{ valueId }}{% endif %} #}
          {% if i < (nbpilotes) %}
            {{ 'Piloto'|trans }} {{ (i+1) }}
          {% else %}
            {{ 'Pasajero'|trans }} {{ (i+1-nbpilotes) }}
          {% endif %}
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% if i == (nbpilotes) %}
          <button
            class="btn btn-secondary small"
            data-action="js-assign-to-user">
                {{'Asignarme este puesto' | trans}}
          </button>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label
            for="traveller_{{i}}_prenom">{{ 'Nombre'|trans }}
        </label>
        <input
          name="traveller[{{i}}][prenom]"
          id="traveller_{{i}}_prenom"
          type="text"
          class="form-control"
           {% if value != null %}
              value="{{ value.prenom }}"
            {% endif %} />
      </div>
      <div class="col-6">
        <label
          for="traveller_{{i}}_nom">
            {{ 'Apellidos'|trans }}
        </label>
        <input
          name="traveller[{{i}}][nom]"
          id="traveller_{{i}}_nom"
          type="text"
          class="form-control"
          {% if value != null %}
            value="{{ value.nom }}"
          {% endif %} />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="traveller_{{i}}_email">
          {{ 'Email'|trans }}
        </label>
        <input
          name="traveller[{{i}}][email]"
          id="traveller_{{i}}_email"
          type="email"
          class="form-control"
          placeholder="{{'usuario'|trans}}@{{'dominio.com'|trans}}"
            {% if value != null %}
              value="{{ value.email }}"
            {% endif %} />
      </div>
      <div class="col-6">
        <label for="traveller_{{i}}_telephone">
          {{ 'Teléfono'|trans }}
        </label>
        <input
          name="traveller[{{i}}][telephone]"
          id="traveller_{{i}}_telephone"
          type="tel"
          class="form-control"
          placeholder="+00 000000000"
          {# pattern="+[0-9]{2} [0-9]{9}" #}
          {% if value != null %}
              value="{{ value.telephone }}"
          {% endif %} />
      </div>
      <input
          type="hidden"
          name="traveller[{{i}}][position]"
          value="{% if i < nbpilotes %}pilote{% else %}passager{% endif %}" />
      <input
          type="hidden"
          name="traveller[{{i}}][id]"
          {% if valueId != null %}
              value="{{ valueId }}"
              {% elseif value != null %}
              value="{{ value.id }}"
          {% endif %} />
    </div>
</div>