<td>{{traveller.prenom}}</td>
<td>{{traveller.nom}}</td>
<td>{{traveller.email}}</td>
<td>{{traveller.telephone}}</td>
<td>
  <a
    class="btn"
    data-action="js-edit-traveller"
    data-traveller="{{traveller.id}}">
    <i class="fa fa-edit"></i>
  </a>
</td>