{{ form_start(form, {
    'attr': {
        'class':'js-new-item-form',
        'id': 'js-new-item-form',
        'novalidate': 'novalidate'
    }
}) }}

    {{ form_errors(form) }}

    {{ form_row(form.type) }}
    {{ form_row(form.name) }}
    {# {% if form.vars.value.id != null %}
        {{ form_row(form.path) }}
        {{ form_row(form.url) }}
        <strong>Original:</strong> {{ upload_asset(medium.mediaPath) }}<br />
        <strong>Thumb Small:</strong> {{ upload_asset(medium.mediaPath)|imagine_filter('squared_thumbnail_small') }}<br />
        <strong>Thumb Medium:</strong> {{ upload_asset(medium.mediaPath)|imagine_filter('squared_thumbnail_medium') }}
        {# Original URL: {{asset()}} #}
    {#{% endif %} #}
    {{ form_row(form.file,{
            attr:{
                class:'form-control'
            }
        }) 
    }}
    
    {{ form_widget(form._token)}}
    <button class="btn btn-success">
        <i class="fa fa-save"></i>
        {{ button_label|default('Guardar') }}
    </button>
    <br /><br />
{{ form_end(form,{'render_rest': false}) }}



    

 {#    <form 
        name="media" 
        method="post" 
        class="js-new-media-form" 
        id="js-new-media-form" 
        novalidate="novalidate" 
        enctype="multipart/form-data"
        data-url="{{path('api_media_new')}}">

    <div class="form-group">
        <label class="required" for="media_type">Type</label>
        <select id="media_type" name="type" class="form-control">
            <option value="travel">travel</option>
            <option value="country">country</option>
            <option value="news">news</option>
        </select>
    </div>
    <div class="form-group">
        <label for="media_name" class="required">Name</label>
            <input type="text" id="media_name" name="name" required="required" maxlength="255" class="form-control">
        </div>
            <div class="form-group">
            <label for="media_file">File</label>
            <div class="custom-file">
                <input type="file" id="media_file" name="file" class="form-control custom-file-input">
                <label for="media_file" class="custom-file-label" lang="es"></label>
    </div>
</div>
    
    
    <button class="btn btn-success">
        <i class="fa fa-save"></i>
        Guardar
    </button>
    <br><br>
</form> #}