{% if oldreservation.dates != null %}
<table class="table">
    <tr>
      <th>Salida:</th>
      <td>{{ oldreservation.dates.debut|date('d/m/Y') }}</td>
    </tr>
    <tr>
      <th>Regreso:</th>
      <td>{{ oldreservation.dates.fin|date('d/m/Y') }}</td>
    </tr>
    <tr>
      <th>Precio Pilote:</th>
      <td>{{ oldreservation.dates.prixPilote }}</td>
    </tr>
    <tr>
      <th>Precio Acompañante</th>
      <td>{{ oldreservation.dates.prixAccomp }}</td>
    </tr>
    <tr>
      <th>Estatus:</th>
      <td>{{ oldreservation.dates.statut }}</td>
    </tr>
  </table>
  {% endif %}