{{ form_start(form) }}
<fieldset>
    <div class="row">
        <div class="col-6 col-xs-12">
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.langue) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xs-12">
                    {{ form_row(form.nbpilotes) }}
                </div>
                <div class="col-6 col-xs-12">
                    {{ form_row(form.nbAccomp) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.commentaire) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.log) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.codepromo) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-xs-12">
                    {{ form_row(form.montant) }}
                </div>
                <div class="col-4 col-xs-12">
                    {{ form_row(form.reduction) }}
                </div>
                <div class="col-4 col-xs-12">
                    {{ form_row(form.totalttc) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.notes) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.statut) }}
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-xs-12">
                    {{ form_row(form.origine_ajout) }}
                </div>
                <div class="col-3 col-xs-12">
                    {{ form_row(form.date_ajout) }}
                </div>
                <div class="col-3 col-xs-12">
                    {{ form_row(form.date_paiement_1) }}
                </div>
                <div class="col-3 col-xs-12">
                    {{ form_row(form.date_paiement_2) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-xs-12">
                    {{ form_row(form.Inscriptions) }}
                </div>
                <div class="col-4 col-xs-12">
                    {{ form_row(form.Travel, {
                        attr: {
                            'data-ajax-url': path('ajax_oldreservation_location_select'),
                            'data-action': 'js-form-parent-select'
                        }
                    }) }}
                </div>
                <div class="col-4 col-xs-12" data-container="js-form-select-child">
                    {% if form.dates is defined %}
                    {{ form_row(form.dates) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6 col-xs-12">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li class="nav-item">
                    <button class="nav-link active"
                        id="log-tab" 
                        data-bs-toggle="tab" 
                        data-bs-target="#log" 
                        type="button" 
                        role="tab" 
                        aria-controls="#log"
                        aria-selected="false"
                    >Log
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link"
                        id="inscriptions-tab" 
                        data-bs-toggle="tab" 
                        data-bs-target="#inscriptions" 
                        type="button" 
                        role="tab" 
                        aria-controls="#inscriptions"
                        aria-selected="false"
                    >Inscripciones
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link"
                            id="travel-tab" 
                            data-bs-toggle="tab" 
                            data-bs-target="#travel" 
                            type="button" 
                            role="tab" 
                            aria-controls="#travel"
                            aria-selected="false"
                    >Viaje
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link"
                            id="date-tab" 
                            data-bs-toggle="tab" 
                            data-bs-target="#date" 
                            type="button" 
                            role="tab" 
                            aria-controls="#date"
                            aria-selected="false"
                    >Fecha
                    </button>
                </li>
            </ul>
            <div class="tab-content"> 
            <div 
                    class="tab-pane fade show active" 
                    id="log" 
                    role="tabpanel" 
                    aria-labelledby="log">
                    {{ oldreservation.log|raw }}
                </div> 
                <div 
                    class="tab-pane fade" 
                    id="inscriptions" 
                    role="tabpanel" 
                    aria-labelledby="inscriptions-tab">
                    {{ include( 'admin/oldreservations/_inscriptions_tab_content.html.twig' ,{ 'oldreservation' : oldreservation } ) }}
                </div>
                <div 
                    class="tab-pane fade"
                    id="travel"
                    role="tabpanel"
                    aria-labelledby="travel-tab">
                    {{ include( 'admin/oldreservations/_travel_tab_content.html.twig' ,{'oldreservation' : oldreservation } ) }}
                </div>
                <div 
                    class="tab-pane fade" 
                    id="date" 
                    role="tabpanel" 
                    aria-labelledby="date-tab">
                    {{ include( 'admin/oldreservations/_date_tab_content.html.twig' ,{ 'oldreservation' : oldreservation } ) }}
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
        <div class="col-md-12 col-xs-12">
            <br />
            <button 
                class="btn btn-success" 
                title="{{ button_label|default('Guardar') }}"
                data-bs-toggle="tooltip" 
                data-bs-placement="top"
                >
                <i class="fa fa-save"></i>
            </button>
            <br />
        </div>
    </div>
{{ form_end(form) }}

