{% extends 'admin/base.html.twig' %}

{% block title %}Oldreservations index{% endblock %}

{% block body %}
<div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'oldreservations'}) }}
        <div class="row">
            <div class="col-12">
                <h1>Oldreservations index</h1>
            </div>
        </div>
        {{ include('admin/oldreservations/partials/_filterband.html.twig') }}
        <div class="row">
            <div class="col-12">
                <div class="navigation">
				    {{ knp_pagination_render(oldreservations) }}
			    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-data mb-4">
               <div>
                <table class="table table-sm table-hover table-striped" style="font-size: 0.8rem">
                    <thead class="main-red">
                        <tr>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Email</th>
                            <th>Travel</th>
                            <th>Date</th>
                            <th>Log</th>
                            <th>Langue</th>
                            <th>Viajeros</th>
                            <th>Comm.</th>
                            <th>Codepromo</th>
                            <th>Montant</th>
                            <th>Red.</th>
                            <th>Totalttc</th>
                            <th>Notes</th>
                            {# <th>Statut</th> #}
                            <th><i class="fa fa-eye"></i></th>
							<th>
								<i class="fa fa-edit"></i>
							</th>
                            <th>
								<i class="fa fa-trash"></i>
							</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for oldreservation in oldreservations %}
                        {{ include('admin/oldreservations/_row.html.twig') }}    
                    {% else %}
                        <tr>
                            <td colspan="17">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
                <div class="navigation">
				    {{ knp_pagination_render(oldreservations) }}
			    </div>
        </div>
    </div>
</div>
{% endblock %}
