<tr>
  <td data-cell="id">{{ inscription.id }}</td>
  <td data-cell="Nom">{{ inscription.nom }}</td>
  <td data-cell="Prenom">{{ inscription.prenom }}</td>
  <td data-cell="Telephone">{{ inscription.telephone }}</td>
  <td data-cell="Email"><a href="{{ path('inscriptions_edit', {'id': inscription.id}) }}">{{ inscription.email }}</a></td>
  <td data-cell="Position">{{ inscription.position }}</td>
  <td data-cell="Arrhes">{{ inscription.arrhes }}</td>
  <td data-cell="Solde">{{ inscription.solde }}</td>
  <td data-cell="Seguro">{{ inscription.assurance }}</td>
  <td data-cell="Vuelo">{{ inscription.vols }}</td>
  <td data-cell="Statut">{{ inscription.statut }}</td>
  <td data-cell="Remarque">
    {% if inscription.remarque != '' %}
        <a
            href="#"
            data-action="read-more"
            data-content="{{ inscription.remarque|raw|escape }}"
            class="btn btn-secondary btn-sm">
                <i class="fa fa-eye"></i>
        <a>
    {% endif %}
  </td>
  <td data-cell="Date">{{ inscription.dateAjout ? inscription.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
  <td data-cell="Langue">{{ inscription.langue }}</td>
  <td data-cell="Convertir a usuario">
      <a 
          href="{{ path('inscriptions_add_user', {'inscription': inscription.id}) }}" 
          class="btn btn-info" 
          data-action="js-add-user"
          data-inscription={{inscription.id}}>
          <i class="fa fa-plus"></i>
          </a>
  </td>
  {# <td>
      <a href="{{ path('inscriptions_show', {'id': inscription.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
  </td>
  <td>
      <a href="{{ path('inscriptions_edit', {'id': inscription.id}) }}" class="btn btn-danger"><i class="fa fa-edit"></i></a>
  </td> #}
  <td data-cell="Borrar">
      {{ include('admin/inscriptions/_delete_form.html.twig') }}
  </td>
</tr>