<tr>
  <td>{{ inscription.id }}</td>
  <td>{{ inscription.nom }}</td>
  <td>{{ inscription.prenom }}</td>
  <td>{{ inscription.telephone }}</td>
  <td><a href="{{ path('inscriptions_edit', {'id': inscription.id}) }}" class="btn btn-info">{{ inscription.email }}</a></td>
  <td>{{ inscription.position }}</td>
  <td>{{ inscription.arrhes }}</td>
  <td>{{ inscription.solde }}</td>
  <td>{{ inscription.assurance }}</td>
  <td>{{ inscription.vols }}</td>
  <td>{{ inscription.statut }}</td>
  <td>{{ inscription.remarque }}</td>
  <td>{{ inscription.dateAjout ? inscription.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
  <td>{{ inscription.langue }}</td>
  <td>
      <a 
          href="{{ path('inscriptions_add_user', {'inscription': inscription.id}) }}" 
          class="btn btn-info" 
          data-action="js-add-user"
          data-inscription={{inscription.id}}>
          <i class="fa fa-plus"></i>
          </a>
  </td>
  {# <td>
      <a href="{{ path('inscriptions_show', {'id': inscription.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
  </td>
  <td>
      <a href="{{ path('inscriptions_edit', {'id': inscription.id}) }}" class="btn btn-danger"><i class="fa fa-edit"></i></a>
  </td> #}
  <td>
      {{ include('admin/inscriptions/_delete_form.html.twig') }}
  </td>
</tr>