{# {% set typeArray = type|split(' ') %}
{% set typeWord = typeArray[0] %} #}

<div
      action="{{ path('frontend_payment_upload_banktransfer',{
          'reservation':reservation.id,
          '_locale':app.request.locale,
      }) }}"
      method="POST"
      enctype="multipart/form-data"
      class="dropzone"
      id="js-payment-dropzone"
      {# id="js-{{typeWord|lower}}-dropzone" #}>
      <div class="dz-message" data-dz-message>
          <h3> {{'Justificante bancario'|trans}}</h3>
          <span>
            <i class="fa fa-file fa-3x"></i>
            <br /><br />
            {{'Por favor, arrastra aquí (o haz click) el justificante de tu transferencia bancaria'|trans }}.
          </span>
      </div>
      <strong>{{ 'Cantidad'|trans }}</strong>: {{ammount|format_currency( 'EUR', {fraction_digit: 2}, 'es' )}}
      <input
        type="hidden"
        class="form-control form-input"
        name="paymentAmmount"
        id="js-payment-ammount"
        value="{{ammount}}"
        disabled
        >

  </div>