
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - PANEL DE ENTRADA{% endblock %}
{% block header %}
{{ parent() }}
        {{ include('shared/_navbar.html.twig') }}
  {% endblock %}
{% block body %}
 
{# {{ message }} #}
{{ parent() }}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
    
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}
