{% extends 'admin/base.html.twig' %}

{% block title %} {{parent()}} | Opciones index{% endblock %}

{% block body %}
<div class="container">
{{ include ('admin/shared/_controlband.html.twig',{'entity':'options'})}}
    <div class="row">
        <div class="col-md-12 col-12">
            <h1>Lista de Opciones</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="count col-md-3 col-xs-12">
            <strong>Opciones en total:</strong>
            <span id="totalItemCount">{{options|length}}</span>
        </div>
        <div class="col-md-1 offset-md-7 col-xs-12">
            {{ include('admin/options/_filtrar_resultados.html.twig') }}
        </div>
    </div>
    <div class="row">
            <div class="navigation col-md-2 col-xs-12">
                {{ knp_pagination_render(options) }}
            </div>
        </div>
    <div class="row ">
        <div class="col-12">
            <div class="table-data">
               <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="main-red">Id</th>
                                <th class="main-red">Viaje</th>
                                <th class="main-red">Precio</th>
                                <th class="main-red">Traducciones</th>
                                <th class="main-red">¿Es estensión?</th>
                                <th class="main-red">
                                    <i class="fa fa-copy"></i>
                                </th>
                                <th class="main-red">
                                    <i class="fa fa-trash"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for option in options %}
                            {{ include('admin/options/_row.html.twig',{'option':option}) }}
                        {% else %}
                            <tr>
                                <td colspan="6">No se han encontrado opciones.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="navigation mt-4">
			{{ knp_pagination_render(options) }}
		</div>
    </div>
</div>
{% endblock %}
