{% extends 'admin/base.html.twig' %}

{% block title %}Options{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
    <h1>Options</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ option.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ option.price }}</td>
            </tr>
        </tbody>
    </table>
    <h1>Page Translations</h1>
            <table class="table">
                <tbody>
                {% for optionTranslation in option.optionsTranslations %}
                    <tr>
                        <th>Id</th>
                        <td>{{ optionTranslation.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ optionTranslation.title }}</td>
                    </tr>
                    <tr>
                        <th>Intro</th>
                        <td>{{ optionTranslation.Intro }}</td>
                    </tr>
                    <tr>
                        <th>Lang</th>
                        <td>{{ pageTranslation.lang.isoCode }}</td>
                    </tr>
                    <tr>
                        <th>Option</th>
                        <td>{{ optionTranslation.options.Id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    <a href="{{ path('options_index') }}">back to list</a>

    <a href="{{ path('options_edit', {'id': option.id}) }}">edit</a>

    {{ include('admin/options/_delete_form.html.twig') }}
     </div>
    </div>
</div>
{% endblock %}
