{% extends 'admin/base.html.twig' %}

{% block title %} {{ parent() }} | Páginas Estáticas{% endblock %}

{% block body %}
<div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'pages'})}}
    <div class="row">
        <div class="col-12" >
            <h1>Páginas Estáticas</h1>
            <div class="count">
                <strong>Páginas estáticas en total:</strong>
                <span id="totalItemCount"> {{ pages.getTotalItemCount }}</span>
            </div>
            <br />
            <div class="navigation">
                {# {{ knp_pagination_render(pages) }} #}
            </div>
            <div class="table-data">
                <div>
                    <table class="table table-hover small">
                        <thead>
                            <tr>
                                <th class="main-red">{{ knp_pagination_sortable(pages, 'Id', 'p.id',{'class':'text-decoration-none link-light'}) }}</th>
                                <th class="main-red{% if pages.isSorted('p.default_slug') %} sorted{% endif %}">
                                    {{ knp_pagination_sortable(pages, 'Default Slug', 'p.default_slug', {'class':'text-decoration-none link-light'}) }}
                                </th>
                                <th class="main-red{% if pages.isSorted('p.date_created') %} sorted{% endif %}">
                                    {{ knp_pagination_sortable(pages, 'Date Created', 'p.date_created', {'class':'text-decoration-none link-light'}) }}
                                </th>
                                <th class="main-red{% if pages.isSorted('p.date_modified') %} sorted{% endif %}">
                                    {{ knp_pagination_sortable(pages, 'Date Modified', 'p.date_modified', {'class':'text-decoration-none link-light'}) }}
                                </th>
                                <th class="main-red">Traducciones</th>
                                <th class="fit text-center main-red">
                                    <i class="fa fa-trash"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for page in pages %}
                            {{include('admin/pages/_row.html.twig')}}
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        <div>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pages) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
