<tr>
    <td>{{ traveller.id }}</td>
    <td>{{ traveller.langue }}</td>
    <td>{{ traveller.nom }}</td>
    <td>{{ traveller.prenom }}</td>
    <td>{{ traveller.telephone }}</td>
    <td>{{ traveller.position }}</td>
    <td>{{ traveller.assurance }}</td>
    <td>{{ traveller.vols }}</td>
    <td>{{ traveller.dateAjout ? traveller.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
    <td>{{ traveller.email }}</td>
    <td>
        {# <a href="{{ path('travellers_show', {'id': traveller.id}) }}">show</a> #}
        <a class="btn btn-primary" href="{{ path('travellers_edit', {'id': traveller.id}) }}">edit</a>
    </td>
    <td>
        {{ include('admin/travellers/_delete_form.html.twig') }}
    </td>
</tr>