{% extends 'admin/base.html.twig' %}

{% block title %}Travellers index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            {{ include ('admin/shared/_controlband.html.twig',{'entity':'travellers'})}}
        </div>
    </div>
    {{ include ('admin/travellers/partials/_filterband.html.twig') }}
    <div class="row mb-4">
        <div class="col-12 col-md-12 ">
            <h1>Travellers index</h1>
            <div class="row">
                <div class="navigation col-2 col-xs-12">
                    {{ knp_pagination_render(travellers) }}
                </div>
            </div>
                <div class="table-data">
                    <div>
                        <table class="table">
                        <thead>
                            <tr>
                                <th class="main-red">Id</th>
                                <th class="main-red">Langue</th>
                                <th class="main-red">Viajero</th>
                                <th class="main-red">Teléfono</th>
                                <th class="main-red">Posición</th>
                                {# <th class="main-red">Assurance</th>
                                <th class="main-red">Vols</th> #}
                                <th class="main-red">Creado</th>
                                <th class="main-red">Email</th>
                                <th class="main-red">Reserva</th>
                                {# <th class="main-red"><i class="fa fa-edit"></i></th> #}
                                <th class="main-red"><i class="fa fa-trash"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for traveller in travellers %}
                            {{ include('admin/travellers/_row.html.twig',{'traveller': traveller} )}}

                        {% else %}
                            <tr>
                                <td colspan="11">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="navigation col-2 col-xs-12">
            {{ knp_pagination_render(travellers) }}
        </div>
    </div>
</div>
{% endblock %}
