{{ form_start(form) }}
    <div class="row">
        <div class="col-4 col-xs-12">
            {{ form_widget(form) }}
            <button class="btn btn-success">
                {{ button_label|default('Guardar') }}
            </button>
        </div>
        <div class="col-8 col-xs-12">
            <div class="tab-pane">
                <a href="{{ path("download_document",{
                        'id': document.id}
                    )}}">
                    {% if document.mimetype == 'image/jpeg'
                    or document.mimetype == 'image/jpg'
                    or document.mimetype == 'image/png' %}
                        <img src="{{ path("download_document",{
                                        'id': document.id}
                        )}}" style="width:50px; height:auto" />
                    {% else %}
                        <span class="fa fa-download"></span>
                    {% endif %}
                    <strong>{{document.doctype|trans}}</strong>:
                    {{document.originalFilename}}
                </a>
            </div>
        </div>
    </div>
{{ form_end(form) }}
