{% import 'shared/_filemacros.html.twig' as file %}
{% extends 'admin/base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
<div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'document'}) }}
    <div class="row">
        <div class="col-12 col-sm-12" 
                {# data-url="{{ path('document_items') }}" #}>
            <h1>Document index</h1>
            <div class="count">
            <strong>Viajes en total:</strong>
            <span id="totalItemCount"> {{ count }}</span>
        </div>
    <br />
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(documents) }}
    </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover small">
                <thead class="main-red">
                    <tr>
                        <th>Id</th>
                        <th>Filename</th>
                        <th>OriginalFilename</th>
                        <th>MimeType</th>
                        <th>User</th>
                        {# <th><i class="fa fa-eye"></i></th> #}
                        {# <th><i class="fa fa-edit"></i></th> #}
                        <th><i class="fa fa-trash"></i></th> 
                    </tr>
                </thead>
                <tbody>
                
                {% for document in documents %}
                    {{include('admin/document/_row.html.twig')}}
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('document_new') }}" class="btn btn-primary">
        <i class="fa fa-plus-circle"></i>
        Create new
    </a>
     </div> 
            </div>
        </div>
    </div>
{% endblock %}
