 <tr>
    <td data-cell="Id">{{ mailing.id }}</td>
    <td data-cell="Fecha de envío">
        {{ mailing.dateSent|date('d/m/Y H:m:s')}}
    </td>
    <td data-cell="Título">
        <a href="{{ path('mailings_edit', {'id': mailing.id}) }}">
            {{ mailing.subject }}
        </a>
    </td>
    <td data-cell="contenido">
        <p>{{ mailing.content|u.truncate(200,'...')|striptags }}</p>
        <a
            href="#"
            data-action="read-more"
            data-title="{{ mailing.subject }}"
            data-content="{{ mailing.content }}"
            class="btn btn-primary btn-sm">
            Leer más
        </a>
    </td>
    <td data-cell="Para">{{ mailing.ToAddresses }}</td>
    <td data-cell="Adjunto?">{{ mailing.attachment }}</td>
    <td data-cell="Categoría">{{ mailing.category }}</td>
    <td data-cell="Borrar">
        {{ include('admin/mailings/_delete_form.html.twig') }}
    </td>
</tr>