<tr>
  <td data-cell="Id">{{ article.id }}</td>
  <td data-cell="Nombre del blog">{{ article.blog.name }}</td>
  <td data-cell="Título"><a href="{{ path('articles_edit', {'id': article.id}) }}">{{ article.title }}</a></td>
  <td data-cell="Intro">{{ article.intro|raw|slice(0,200) ~ '...' }} <br />
        <a
            href="#"
            data-action="read-more"
            data-content="{{ article.intro|raw|escape }}"
            class="btn btn-rakatanga btn-sm">
            Leer más
        <a>
  </td>
  <td data-cell="Contenido">{{ article.body|raw|slice(0,200) ~ '...'  }} <br />
        <a
            href="#"
            data-action="read-more"
            data-content="{{ article.body|raw|escape }}"
            class="btn btn-rakatanga btn-sm">
            Leer más
        <a>
  </td>
  <td data-cell="Foto">
    {% if article.mainPhoto %}
            <img
                title="{{ article.mainPhoto.filename }}"
                alt="{{ article.mainPhoto.filename }}"
                src="{{ article.mainPhoto.MediaPath|imagine_filter('squared_thumbnail_small') }}"
            />
        {% endif %}
        <div class="clearfix"></div>
    {{ article.media|length }}
  </td>
  <td data-cell="Fecha de publicación">{{ article.publishedAt ? article.publishedAt|date('Y-m-d H:i:s') : '' }}</td>

  <td data-cell="Borrar">
    {{ include('admin/articles/_delete_form.html.twig') }}
  </td>
</tr>