{% trans_default_domain 'email' %}
{% extends 'email/emailBase.html.twig' %}
{% block content %}

<h1><center>{{'Hola'|trans}} {{reservation.user.prenom}} {{reservation.user.nom}} [{{reservation.user.email}}]</center></h1>

<p>{{'Te invitamos a realizar el checkin para tu viaje'|trans}}.</p>
<p>{{'Antes de hacer click intenta agenciarte y tener a mano un scaneo o fotografía de los siguientes documentos'|trans}}:</p>
<ul>
  <li>{{'Pasaporte'|trans}}</li>
  <li>{{'Visado'|trans}}</li>
  <li>{{'Permiso de circulación'|trans}}</li>
</ul>
<p>{{'Haciendo click en el vínculo que te ofrecemos a continuación te trasladaremos a un asistente para que nos deposites tus documentos y los documentos asociados a tu reserva. Este proceso nos permitirá gestionar tu viaje de un modo más eficiente y podremos asistirte mejor durante tu viaje'|trans}}.</p>
<p><button class="radius" href="{{ absolute_url( path('frontend_user_reservation_data',{'reservation':reservation.id})) }}">{{'Realizar el check-in'|trans}}</button></p>
{% endblock %}
