<tr>
                        <td>{{ category.id }}</td>
                        <td>
                          <a href="{{ path('category_edit', {'id': category.id}) }}">
                            {{ category.name }}
                          </a>
                        </td>
                        <td>{% if category.continents %}{{ category.continents.code }}{% endif %}</td>
                        <td>{{ category.status }}</td>
                        <td>
                            <div class="row">
                                {% for categoryTranslation in category.categoryTranslations %}
                                    <div class="col-4">
                                        <span class="badge bg-secondary">{{ categoryTranslation.lang.isoCode }}</span>
                                        {{ categoryTranslation.title }}
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            {{category.travel|length}}
                        </td>
                        <td>
                            {{ include('admin/category/_delete_form.html.twig') }}
                        </td>
                    </tr>