<p>{{'También nos puedes contactar en las siguientes direcciones'|trans}}:</p>
				<p>
					<strong>{{'Asia'|trans}}</strong>
				</p>
				<p>
					<strong>{{'India'|trans}}</strong><br>
					Rakatanga Tour
					<br>WZ-145 Ground Floor, Village Dasghara, PO Pus New Delhi - 110012<br>T&eacute;l. +91 74284 33745</p>
				<p>
					<strong>{{'Europa'|trans}}</strong>
				</p>
				<p>
					<strong>{{'España'|trans}}</strong><br>C/ Altamira 11. 36002, Pontevedra.</p>
				<p>{{'Tel'|trans}}. +34 986 070003</p>
				<p>
					<strong>{{'Francia'|trans}}<br></strong>70 bld de Clichy<br>75018 Paris (France)<br>{{'Tel'|trans}}. +33 616 761449</p>
				<p>{{'O por e-mail'|trans}}
					:
					<a href="mailto: contact@rakatanga-tour.com">contact@rakatanga-tour.com</a>
				</p>