{# {% if (loop.index-1) % 4 == 0 %}
  {% if loop.index == 1 %}
  {% else %}
  </div>
  {% endif %}
{% endif %}
{% if loop.index == 1 or (loop.index-1) % 4 == 0 %}

  <div class="row mb-4">
  {% endif %} #}
    {# <div class="col-3" data-loopindex="{{loop.index}}"> #}
    <div class="grid-item">
      <a 
        data-fancybox="gallery"
        href="{% if medium.isYTVideo %}https://www.youtube.com/watch?v={{medium.name}}{%else%}{{ medium.MediaPath|imagine_filter('travel_full_gallery') }}{% endif %}"
        class="lightbox-item-link"
        {% if medium.isYTVideo %}style="position:relative;"{% endif %}
        data-bs-toggle="tooltip" 
        title="{{'Haz click sobre la foto para verla a pantalla completa'|trans }}">
          <img
              src="{{ medium.MediaPath|imagine_filter('index_thumbnail_medium') }}"
              class="img-fluid lightbox-item"
          />
          {% if medium.isYTVideo %}<div class="video-overlay"></div>
          <div class="video-icon"><i class="fab fa-youtube fa-3x"></i></div>{% endif %}
      </a>
    </div>
    {# </div> #}
{# {% if loop.index == totalMedia %}
</div>
{% endif %} #}
