{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - 
    {{'Rutas en moto'|trans}} - 
    {{category.title}}
{% endblock %}

{% block header %}
    {{ parent() }}
    {{ include('shared/_navbar.html.twig') }}
{% endblock %}

{% block body %}

{{ parent() }}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            {{ wo_render_breadcrumbs() }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
        <h1>{{category.title}} - {{'Nuestras rutas en moto'|trans}}</h1>
            {% for travel in travels %}
            {% set MediaPath = '/media/' ~ travel.mainPhoto %}
            <div class="card card-default shadow">
		        <div class="card-body">
		            <div class="row">
                        <div class="col-md-3 col-sm-5">
                            <p>
                                <a href="{{ path('destination',{
                                                    _locale: locale,
                                                    category: category|slugify,
                                                    travel: travel.title|slugify
                                        }) }}">
                                    <img class="img-responsive" src="{{ MediaPath|imagine_filter('index_thumbnail_medium') }} " alt="">
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-7">
                            <h2>{{ travel.title }}</h2>
                            <p class="infos">
                                <i class="fas fa-clock" aria-hidden="true"></i> 
                                    {{ travel.duration }} {{'días'|trans}}  
                                <i class="fa fa-signal" aria-hidden="true"></i> 
                                    {{ travel.level }}
                            </p>
                                {{travel.summary|raw}}
                                <p>
                                    <a class="btn btn-default" 
                                        href="{{ path('destination',{
                                                    _locale: locale,
                                                    category: category|slugify,
                                                    travel: travel.title|slugify
                                        }) }}">{{'Ver este viaje'|trans}}</a>
                                </p>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="card card-default panel-departs shadow">
                                <div class="card-heading ps-3 pe-3 pt-2 pb-2">
                                    {{'Próxima salida'|trans}}
                                </div>
                                <div class="card-body"> 
                                    {% if travel.status == "complet" %}
                                            <span class="label label-danger">{{'completo'|trans}}</span>
                                    {% endif %}
                                    
                                    {% for date in travel.dates %}
                                        <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 
                                        {{'del'|trans}} 
                                        {{ date.debut|date('j') }} 
                                        {{'al'|trans}} {{ date.fin|date('d') }}
                                        {{'de'|trans}}
                                        {{ date.debut|format_datetime(pattern="MMMM",locale=locale) }}
                                        {{'de'|trans}} {{ date.debut|date('Y')}}
                                        </p>
                                    {% else %}
                                        {{ 'Este viaje, de momento, no tiene fechas programadas' | trans }}.
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br />
            {% else %}
            {{ 'Este viaje está en preparación, si quieres saber más sobre él, ponte en contacto con nosotras y te informamos' | trans}}.
            {% endfor %} 
        </div>
    </div>   
</div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}