{% extends 'admin/base.html.twig' %}

{% block title %}Menu index
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{  encore_entry_link_tags('tags')  }}
{% endblock %}

{% block header %}
	{{ include('admin/shared/_header.html.twig') }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>Espacio de administración</h1>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-12">
				<div class="row mb-2">

				<ul class="box-info">
					<li>
						<i class='bx bxs-user' ></i>
						<span class="text">
							<h3>{{totalUsers}}</h3>
							<p>Total Usuarios</p>
						</span>
					</li>
					<li>
						<i class='bx bxs-plane' ></i>
						<span class="text">
							<h3>{{totalTravellers}}</h3>
							<p>Total Viajeros</p>
						</span>
					</li>
					<li>
						<i class='bx bxs-calendar-check' ></i>
						<span class="text">
							<h3>{{totalReservations}}</h3>
							<p>Total Reservas</p>
						</span>
					</li>
					<li>
						<i class='bx bxs-dollar-circle' ></i>
						<span class="text">
							<h3>
								{{ totalPayments|format_currency('EUR', {fraction_digit: 2}, 'es' )
								}}
							</h3>
							<p>Total Ventas</p>
						</span>
					</li>
				</ul>

				</div>
				<div class="row mb-2">
					<div class="col-7 col-xs-12">
						<h3>Últimas Reservas</h3>
					</div>
					<div class="col-5 col-xs-12 text-end">
						<a
							class="btn btn-secondary float-right d-block"
							href="{{ path('reservation_index') }}">
							<i class="fa fa-eye"></i>
							Ver todas las reservas [{{reservations|length}}]
						</a>
					</div>
				</div>
				<div class="small reservations-dashboard">
					{{ include('admin/dashboard/_partials/_block_reservations.html.twig') }}
				</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-12">
					<div class="row mb-2">
					<div class="col-7 col-xs-12">
						<h3>Últimos Pagos</h3>
					</div>
					<div class="col-5 col-xs-12 text-end">
						<a
							class="btn btn-secondary float-right d-block"
							href="{{ path('payments_index') }}">
							<i class="fa fa-eye"></i>
							Ver todos los pagos [{{payments|length}}]
						</a>
					</div>
				</div>
					<div class="small payments-dashboard">
						{{ include('admin/dashboard/_partials/_block_payments.html.twig') }}
					</div>
				</div>
			</div>
		<div class="row mb-4">
			<div class="col-6 table-data">
				<div class="row mt-2">
					<div class="col-7">
						<h5>Últimos Usuario registrados</h5>
					</div>
					<div class="col-5 text-end">
						<a
							class="btn btn-secondary float-right d-block"
							href="{{ path('user_index') }}">
							<i class="fa fa-eye"></i>
							Ver todos [{{users|length}}]
						</a>
					</div>

					<table class="small">
						{% for user in users %}
							<tr>
								<td>{{ user.prenom }}</td>
								<td>{{ user.nom }}</td>
								<td class="fit">
									<a href="{{ path('user_edit',{'id':user.id}) }}">
										[{{ user.email }}]
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">
									Todavía no hay usuarios guardados en el sistema.
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="col-6 table-data">
				<div class="row mt-2">
					<div class="col-7">
						<h5>Últimos Viajeros añadidos</h5>
					</div>
					<div class="col-5 text-end">
						<a
							class="btn btn-secondary float-right d-block"
							href="{{ path('travellers_index') }}">
							<i class="fa fa-eye"></i>
							Ver todos [{{travellers|length}}]
						</a>
					</div>

				<table class="small">
					{% for traveller in travellers %}
						<tr>
							<td>
								{{ traveller.prenom }}
							</td>
							<td>
								{{ traveller.nom }}
							</td>
							<td>
								<a href="{{path('travellers_edit',{'id':traveller.id})}}">
									[{{ traveller.email|u.truncate(20,'...') }}]
								</a>
							</td>
						</tr>
						{% else %}
							<tr>
								<td colspan="3">
									Todavía no hay viajeros guardados en el sistema.
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 table-data">
				<div class="row mt-2">
					<div class="col-7">
						<h5>Últimos Documentos añadidos</h5>
					</div>
					<div class="col-5 text-end">
						<a
							class="btn btn-secondary float-right d-block"
							href="{{ path('document_index') }}">
								<i class="fa fa-eye"></i>
								Ver todos [{{documents|length}}]
						</a>
					</div>

				<table class="small">
					{% for document in documents %}
						<tr>
							<td>
								{% if document.doctype == "passport" %}
									<i class="fas fa-passport"></i>
								{% elseif document.doctype == "visa" %}
									<i class="fas fa-globe"></i>
								{% elseif document.doctype == "drivers" %}
									<i class="fas fa-id-card"></i>
								{% endif %}
								{# <td>{{ document.traveller.email}}</td> #}
							</td>
							<td><a href="{{path('document_edit',{'id':document.id})}}">{{ document.originalFilename}}</a></td>
							<td><span data-bs-toggle="tooltip" title="{{ document.doctype }}">{{ document.doctype }}</span></td>
							{#<td> {{ renderLocalizedTravel(document.date.travel.id,'es') }} </td>#}

						</tr>
					{% else %}
						<tr>
							<td colspan="3">
								Todavía no hay documentos guardados en el sistema.
							</td>
						</tr>
					{% endfor %}
				</table>
				</div>
			</div>
			<div class="col-6 table-data">
				<div class="row mt-2">
					<div class="col-7">
						<h5>Últimas facturas añadidas</h5>
					</div>
					<div class="col-5 text-end">
						<a
							class="btn btn-secondary float-right d-block"
							href="{{ path('invoices_index') }}">
								<i class="fa fa-eye"></i>
								Ver todas [{{invoices|length}}]
						</a>
					</div>

				<table class="small">
					{% for invoice in invoices %}
						<tr>
							<td>{{ invoice.invoiceNumber }}</td>
							<td>{{ invoice.name }}</td>
							<td class="fit">
								<a href="{{ path( 'invoices_show', { 'id' : invoice.id }) }}">
									<i class="fas fa-eye"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">
								Todavía no hay facturas guardadas en el sistema.
							</td>
						</tr>
					{% endfor %}
				</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
