{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


    <div class="row">
        
            {# main menu table form inputs #}
            <div class="col-3">
            <fieldset>
                {{ form_row(form.title) }}
                <div class="input-daterange input-group" id="datepicker">
                    {{ form_row(form.date_start,{
                        'label':'Fecha de salida'
                    }) }}
                    {{ form_row(form.date_end,{
                        'label':'Fecha de regreso'
                    }) }}
                </div>
            </fieldset>
            </div>
            <div class="col-9">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                {% for lang in langs %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link{% if loop.index0 == 0 %} active{% endif %}"
                                id="{{lang.name}}-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#{{lang.name}}" 
                                type="button" 
                                role="tab" 
                                aria-controls="#{{lang.name}}"
                                aria-selected="{% if loop.index0 == 0 %}true{% else %}false{% endif %}"
                        >
                        <i class="fa fa-flag"></i>
                        {{lang.name}}
                        </button>
                    </li>
                {% endfor %}
                <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="media-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#media" 
                                type="button" 
                                role="tab" 
                                aria-controls="#media"
                                aria-selected="false"
                        >
                        <i class="fa fa-image"></i>
                        Fotos (ver y seleccionar)
                        {% if popup %}
                            <span class="badge badge-secondary">
                                {{ popup.media|length }}
                            </span>
                        {% endif %}
                        </button>
                    </li>
            </ul>
            <!-- Tab panes -->
             <div class="tab-content">
                {% if form.vars.value.id == null %}
                    {{ include('admin/popups/_form_new.html.twig') }}
                {% else %}
                    {{ include('admin/popups/_form_edit.html.twig') }}
                {% endif %}
            </div>
            </div>
        </div>
        {{ form_widget(form._token)}}
        <div class="row">
            <div class="col-2">    
                <button class="btn btn-primary">
                    {{ button_label|default('Save') }}
                </button>
            </div>
        </div>
    </div>
{{ form_end(form,{'render_rest': false}) }}
