<tr>
  <td data-cell="Id">{{ popup.id }}</td>
  <td data-cell="Título"><a href="{{ path('popups_edit', {'id': popup.id}) }}">{{ popup.title }}</a></td>
  <td data-cell="Traducciones">
      {% for popupTranslation in popup.popupsTranslations %}
          {{ popupTranslation.title }}<br />
      {% endfor %}
  </td>
  <td data-cell="Comienzo">{{ popup.dateStart ? popup.dateStart|date('d-m-Y') : '' }}</td>
  <td data-cell="Final">{{ popup.dateEnd ? popup.dateEnd|date('d-m-Y') : '' }}</td>
  <td data-cell="Borrar">
    {{ include('admin/popups/_delete_form.html.twig') }}
  </td>
</tr>