{{ form_start(form) }}
    <div class="row">
        <div class="col-3">
            {{ form_widget(form) }}
            <label for="description">Descripción</label>
            {{ include('admin/shared/forms/_form_element_textarea_ckeditor.html.twig') }}
            <button class="btn btn-info">
                <i class="fa fa-save"></i>
                {{ button_label|default('Save') }}
            </button>
        </div>
        <div class="col-9">
            {% if invoice.id != null %}
                {{ include( 'admin/invoices/_tabs_related.html.twig' )}}
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
