<tr>
    <td>{{ invoice.id }}</td>
    <td>
        <a href="{{ path('invoices_edit', {'id': invoice.id}) }}"
            class="btn btn-info">{{ invoice.invoiceNumber }}</a>
    </td>
    <td>{{ invoice.name }}</td>
    <td>{{ invoice.nif }}</td>
    <td>{{ invoice.address }}</td>
    <td>{{ invoice.postalcode }}</td>
    <td>{{ invoice.city }}</td>
    <td>{{ invoice.country }}</td>
    <td>
        <strong>
            {{ invoice.dueAmmount|format_currency('EUR', {fraction_digit: 0}) }}
        </strong>
    </td>
    <td>
        <a href="{{path('user-download-invoice',{'invoice':invoice.id})}}"
        target="_blank">
            {{ invoice.invoiceNumber }}
            <i class="fa fa-download"></i>
        </a>
    </td>
  {# <td>
      <a href="{{ path('invoices_show', {'id': invoice.id}) }}"
      class="btn btn-primary">
          <i class="fa fa-eye"></i>
      </a>
  </td>
  <td>
      <a href="{{ path('invoices_edit', {'id': invoice.id}) }}"
      class="btn btn-info">
          <i class="fa fa-edit"></i>
      </a>
  </td> #}
    <td>
        {{ include('admin/invoices/_delete_form.html.twig') }}
    </td>
</tr>