<tr>
    <td data-cell="Id">{{ invoice.id }}</td>
    <td data-cell="Número de factura">
        <a href="{{ path('invoices_edit', {'id': invoice.id}) }}">{{ invoice.invoiceNumber }}</a>
    </td>
    <td data-cell="Nombre del cliente">{{ invoice.name }}</td>
    <td data-cell="Nif">{{ invoice.nif }}</td>
    <td data-cell="Dirección">{{ invoice.address }}</td>
    <td data-cell="Código postal">{{ invoice.postalcode }}</td>
    <td data-cell="Ciudad">{{ invoice.city }}</td>
    <td data-cell="País">{{ invoice.country }}</td>
    <td data-cell="Cantidad facturada">
        <strong>
            {{ invoice.dueAmmount|format_currency('EUR', {fraction_digit: 0}) }}
        </strong>
    </td>
    <td data-cell="Descarga la factura">
        <a href="{{path('user-download-invoice',{'invoice':invoice.id})}}"
        target="_blank">
            {{ invoice.invoiceNumber }}
            <i class="fa fa-download"></i>
        </a>
    </td>
    <td data-cell="">
        {{ include('admin/invoices/_delete_form.html.twig') }}
    </td>
</tr>