{% extends 'admin/base.html.twig' %}

{% block title %}Edit Invoices{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('reservations-admin') }}
    {{ encore_entry_link_tags('admin_reservations') }}
	{{ encore_entry_link_tags('tags') }}
{% endblock %}

{% block body %}
<div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'invoices'})}}
        <div class="row">
            <div class="col-12 col-xs-12">
                <h1>Edit Invoices</h1>
                {{ include('admin/invoices/_form.html.twig', {'button_label': 'Actualizar'}) }}
            </div>
        </div>
    </div>
{% endblock %}
