{% extends 'admin/base.html.twig' %}

{% block title %}Edit Invoices{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('reservations-admin') }}
    {{ encore_entry_link_tags('admin_reservations') }}
	{{ encore_entry_link_tags('tags') }}
{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" data-url="">
                <h1>Edit Invoices</h1>

                {{ include('admin/invoices/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('invoices_index') }}" class="btn btn-light">
                    <i class="fa fa-list"></i>
                    Back to list
                </a>

            {{ include('admin/invoices/_delete_form.html.twig') }}
{% endblock %}
