{% set total = 0 %}
{% set discount = 0 %}
{% set prixPilote = invoice.reservation.date.prixPilote %}
{% set prixAccomp = invoice.reservation.date.prixAccomp %}
{% if statusChange is defined and statusChange == 'cancelled' %}
    {% set prixPilote = prixPilote|negativify %}
    {% set prixAccomp = prixAccomp|negativify %}
{% endif %}

{% set totalPilote = invoice.reservation.nbpilotes * prixPilote %}
{% set totalAccomp = invoice.reservation.nbaccomp * prixAccomp %}
{% set total = totalPilote + totalAccomp %}

<br />
    <div id="details" class="clearfix">
        <div id="client" class="clearfix">
            <div class="to">{{ 'CLIENTE'|trans }}:</div>
                <h2 class="name">{{ invoice.name }}</h2>
                <div class="address">
                    {{ invoice.address }}<br />
                    {{ invoice.city }}<br />
                    {{ invoice.postalcode }}<br />
                    {{ invoice.country }}
                </div>
                <br />
                <div class="idcard">{{invoice.nif}}</div>
                {# <div class="email"><a href="mailto:john@example.com">{{invoice.country}}</a></div> #}
            </div>
            <div id="invoice">
                <h1>{{'FACTURA'|trans}}</h1>
                <div class="invoiceNumber">{{'Número de factura'|trans}}: {{ invoice.invoiceNumber }}</div>
                <div class="date">{{'Fecha de factura'|trans}}: {{ invoice.dateCreated|date('Y/m/d') }}</div>
                <div class="date">{{'Fecha de vencimiento'|trans}}: {{'1 mes antes de la salida del viaje' |trans}}</div>
            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">{{'CONCEPTO'|trans}}</th>
                    <th class="desc">{{'DESCRIPCIÓN'|trans}}</th>
                    <th class="unit">{{'PRECIO'|trans}}</th>
                    <th class="qty">{{'CANTIDAD'|trans}}</th>
                    <th class="total">{{'TOTAL'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>{{'Viaje'|trans}}</strong></td>
                    <td>{{ renderLocalizedCategory(invoice.reservation.date.travel.category.id, locale)}}</td>
                    <td colspan="3">
                        {{ renderLocalizedTravel(invoice.reservation.date.travel.id, locale) }}
                    </td>


                </tr>
                <tr>
                    <td colspan="5">{{'Código de reserva'|trans}}: {{ invoice.reservation.code }}</td>
                </tr>
                {% if invoice.reservation.nbpilotes > 0 %}
                    <tr>
                        <td><strong>{{'Nº de pilotos'|trans}}</strong></td>
                        <td></td>
                        <td>{{ prixPilote | format_currency('EUR', {fraction_digit: 2}) }}</td>
                        <td>{{ invoice.reservation.nbpilotes }}</td>
                        <td>{{ totalPilote | format_currency('EUR', {fraction_digit: 2}) }}
                        </td>
                    </tr>
                {% endif %}
                {% if invoice.reservation.nbaccomp > 0 %}
                <tr>
                    <td><strong>{{'Nº de acompañantes'|trans}}</strong></td>
                    <td></td>
                    <td>{{ prixAccomp | format_currency('EUR', {fraction_digit: 2}) }}</td>
                    <td>{{ invoice.reservation.nbaccomp }}</td>
                    <td>{{ totalAccomp | format_currency('EUR', {fraction_digit: 2}) }}</td>
                </tr>
                {% endif %}
                {% if invoice.reservation.reservationOptions|length > 0 %}
                <tr>
                    <td><strong>{{'Opciones'|trans}}</strong></td>
                    <td colspan="4">
                    <table>
                        {% for reservationOption in invoice.reservation.reservationOptions %}
                            <tr>
                                <td>
                                    <strong>{{reservationOption.ammount}}x</strong>
                                </td>
                                <td>
                                    {{ renderLocalizedOption(reservationOption.option.id, locale) }}
                                </td>
                                <td>
                                    {% set optionPrice = reservationOption.option.price %}
                                    {% if statusChange is defined and statusChange == 'cancelled' %}
                                        {% set optionPrice = reservationOption.option.price|negativify %}
                                    {% endif %}
                                    {{ optionPrice | format_currency('EUR', {fraction_digit: 2}) }}
                                </td>
                                <td>

                                    {{ (reservationOption.ammount * optionPrice) | format_currency('EUR', {fraction_digit: 2}) }}

                                    {% set total = total + reservationOption.ammount * optionPrice %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </td>
                </tr>
                {% endif %}

                {% if invoice.reservation.codespromo is defined and invoice.reservation.codespromo != null %}
                    <tr>
                        <th>{{ 'Bono descuento'|trans}}</th>
                        <td>{{ invoice.reservation.codespromo.code }}</td>
                        <td>{{ invoice.reservation.codespromo.commentaire}}</td>
                        <td>
                        {% if invoice.reservation.codespromo.montant != 0 %}
                            - {{ invoice.reservation.codespromo.montant|format_currency('EUR', {fraction_digit: 2}, locale=app.request.getLocale() ) }}
                            {% set discount = discount + invoice.reservation.codespromo.montant %}
                        {% elseif invoice.reservation.codespromo.pourcentage != 0 %}
                            - {{ invoice.reservation.codespromo.pourcentage }} %
                            {% set discount = total * invoice.reservation.codespromo.pourcentage / 100 %}
                        {% endif %}
                        </td>
                        <td align="right">
                            {{discount | format_currency('EUR', {fraction_digit: 2})}}
                        </td>
                    </tr>

				{% endif %}
                {% set total = total - discount %}
                <tr>
                    <td colspan="4"><strong>{{'Base'|trans}}</strong></td>
                    <td>{{ (total/1.21) | format_currency('EUR', {fraction_digit: 2})}} </td>
                </tr>
                <tr>
                    <td colspan="4"><strong>{{'IVA'|trans}} (21%)</strong></td>
                    <td>{{ (total*(1-1/1.21)) | format_currency('EUR', {fraction_digit: 2})}} </td>
                </tr>
                <tr>
                    <td colspan="4"><strong>{{'Total'|trans}}</strong></td>
                    <td>{{ total | format_currency('EUR', {fraction_digit: 2})}} </td>
                </tr>
                {% if invoice.reservation.status == "cancelled" %}
                    <tr>
                        <td colspan="4"><strong>{{'Valor de cancelación'|trans}}</strong></td>
                        <td>- {{ total | format_currency('EUR', {fraction_digit: 2})}} </td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>{{'Total a pagar'|trans}}</strong></td>
                        <td> {{ 0 | format_currency('EUR', {fraction_digit: 2})}} </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div id="thanks">{{'¡Muchas gracias!'|trans}}</div>

