<tr class="
{% if travel.dates|length == 0 %}
    raye
{% endif %}
">                    
    <td>
        {% if travel.category != null %}
            {{ travel.category.categoryTranslations|first }}
        {% endif %}
    </td>
    <td>
        <a href="{{ path('travel_edit', {'id': travel.id}) }}">
            {{ renderLocalizedTravel(travel.id,'es')}}
        </a>
    </td>
    <td class="smallerfont">
        {% for dates in travel.dates %}
            {% if dates.debut > date() %}
            <a href="{{ path('dates_edit', {'id': dates.id}) }}">
                {{dates.debut|date("d/m/Y")}} - {{dates.fin|date("d/m/Y")}}
            </a><br />
            {% endif %}
        {% endfor %}
    </td>
    <td>{{ travel.status }}</td>
    <td>
        {% if travel.mainPhoto %}
            <img 
                title="{{ travel.mainPhoto.filename }}" 
                alt="{{ travel.mainPhoto.filename }}" 
                src="{{ travel.mainPhoto.MediaPath|imagine_filter('squared_thumbnail_small') }}"
            /> 
        {% endif %}
        <div class="clearfix"></div>
        Total Media: {{ travel.media|length }}<br />
    </td>
    <td class="smallerfont">
        {% if travel.travelTranslation %}
            {% for travelTranslation in travel.travelTranslation %}
                <span class="badge bg-secondary">
                    {{ travelTranslation.lang.isoCode|upper }}
                </span>
                {{ travelTranslation.title }}
                <br />
            {% endfor %}
        {% endif %}
    </td>
   {#  <td>
        <a href="{{ path('destination',{
                            _locale: 'es',
                            category: renderLocalizedCategory(travel.category.id,'es')|slugify,
                            travel: renderLocalizedTravelUrl(travel.id,'es')
                }) }}"
        class="btn btn-primary">
            <i class="fa fa-eye"></i>
        </a>
    </td>
    <td>
        <a href="{{ path('travel_edit', {'id': travel.id}) }}"
        class="btn btn-info">
            <i class="fa fa-edit"></i>
        </a>
    </td> #}
    <td>
        {{ include('admin/travel/_delete_form.html.twig') }}
    </td>
</tr>