{% extends 'admin/base.html.twig' %}

{% block title %}{{parent()}} | Índice de Viajes{% endblock %}

{% block body %}
<div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'travel'})}}
    <div class="row mb-4">
        <div class="col-12 col-md-12 ">
            <h1>Lista de viajes</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="count col-md-3 col-xs-12">
            <strong>Viajes en total:</strong>
            <span id="totalItemCount"> {{ count }}</span>
        </div>
        <div class="col-md-1 offset-md-7 col-xs-12">
            {{ include('admin/travel/_filtrar_resultados.html.twig') }}
        </div>
    </div>
            <br />
            {# display navigation #}
        <div class="row">
            <div class="navigation col-md-2 col-xs-12">
                {{ knp_pagination_render(travels) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 table-data index-table">
                <div>
                    <table class="table table-hover small">
                        <thead>
                            <tr>
                                <th class="main-red">País</th>
                                <th class="main-red{% if travels.isSorted('t.mainTitle') %} sorted{% endif %}">
                                    {{ knp_pagination_sortable(travels, 'Título', 't.mainTitle',{'class':'text-decoration-none link-light'}) }}
                                </th>
                                <th class="main-red">Duración</th>
                                <th class="main-red">Fechas [reservas]</th>
                                <th class="main-red">Visible</th>
                                <th class="main-red">Media</th>
                                <th class="main-red">Traducciones</th>
                                <th class="main-red">Plantilla?</th>
                                <th class="fit main-red"><i class="fa fa-trash"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for travel in travels %}
                                {{ include('admin/travel/_row.html.twig',{'travel' : travel }) }}
                            {% else %}
                                <tr>
                                    <td colspan="12">No hay viajes guardados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="navigation mt-4">
                {{ knp_pagination_render(travels) }}
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
