{% extends 'admin/base.html.twig' %}

{% block title %}Lang index{% endblock %}

{% block body %}
<div class="container">
{{ include ('admin/shared/_controlband.html.twig',{'entity':'lang'})}}
    <div class="row">
        <div class="col-md-12 col-12">
            <h1>Índice de idiomas</h1>
            <div class="table-data">
                <div>
                <table class="table table-hover small">
                    <thead>
                        <tr>
                            <th class="fit main-red">Id</th>
                            <th class="main-red">Nombre</th>
                            <th class="main-red">Iso_code</th>
                            <th class="main-red">Charset</th>
                            <th class="fit main-red"><i class="fa fa-edit"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lang in langs %}
                        <tr>
                            <td data-cell="Id">{{ lang.id }}</td>
                            <td data-cell="Nombre">
                                <a href="{{ path('lang_edit', {'id': lang.id}) }}">
                                    {{ lang.name }}
                                </a>
                            </td>
                            <td data-cell="Iso code">{{ lang.isoCode }}</td>
                            <td data-cell="Charset">{{ lang.charset }}</td>
                            <td data-cell="Borrar">
                                {{ include('admin/lang/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
