
<nav class="navbar navbar-expand-xl navbar-light fixed-top"
{{ is_granted('IS_IMPERSONATOR') ? 'style="background-color: #f4d38b !important"' }}>
  <div class="container">
      <a class="navbar-brand" href="{{path('index',{'_locale':app.request.getLocale()})}}">
        <img src="{{asset('images/rakatanga-tour.png')}}" width="230" height="" alt="Rakatanga Tour">
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for menuItem in menu %}
              <li class="nav-item">
                <a class="nav-link"
                    href="{{app.request.baseUrl ~ '/' ~ app.request.getLocale() ~ '/' ~ menuItem.slug ~ ''}}">
                    {{ menuItem.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav" id="social-switch">
            {{ include('shared/_social_menu.html.twig') }}
          </ul>
          <ul class="nav navbar-nav" id="user-switch">
            {{ include('shared/_user_switch.html.twig') }}
          </ul>
          {{ include('shared/_locale_switcher.html.twig') }}
        </div>
  </div>
</nav>
