{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - P치gina de error{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Error {{ exception.statusCode }} - {{ 'No hemos encontrado la p치gina que buscabas'|trans }}</h1>

                {# <p>
                    {{ 'La p치gina que buscabas no se encuentra en esta web. Comprueba cualquier error en tu url o'|trans }} <a href="{{ path('index') }}">{{ 'regresa a la p치gina de inicio'|trans }}</a>.
                </p> #}
                <p>{{ exception.message }}</p>
                {# <p>{{ status_code }}</p>
                <p>{{ status_text }}</p> #}
            </div>
        </div>
    </div>
{% endblock %}