<div class="payments-dashboard-item">
  {# {% set MediaPath = '/media/' ~ payment.reservation.date.travel.mainPhoto.Path %}
  <div class="payments-dashboard-grid-item">
    <img class="img-fluid" src="{{ MediaPath|imagine_filter('index_thumbnail_small') }}">
  </div> #}
  <div class="payments-dashboard-grid-item">
    <h4><a
      href="{{ path('payments_edit',{'id':payment.id}) }}"
      data-bs-toggle="tooltip"
      title="Visualizar los datos de la categoría">
        {{payment.ammount|format_currency( 'EUR', {fraction_digit: 2}, 'es' ) }}
    </a></h4>
    <h5>{{payment.reservation.code}}</h5>
    [{{ renderReservationAmmount(payment.reservation)|format_currency('EUR', {fraction_digit: 2}, 'es' ) }}]
    <div class="tags has-addons mt-2">
      <span class="tag">
        <i class="fas fa-receipt"></i>
      </span>
      <span class="tag">
        {{ payment.reservation.invoice.invoiceNumber }}
      </span>
      <span class="tag is-light">
        <a
          href="{{path('user-download-invoice',{'invoice': payment.reservation.invoice.id})}}"
          title="{{ payment.reservation.invoice.filename }}"
          data-bs-toggle="tooltip">
            <i class="fas fa-download"></i>
        </a>
      </span>
    </div>
  </div>
  <div class="payments-dashboard-grid-item">
    <h5 class="mb-0">
      {{ payment.reservation.user.prenom }} {{ payment.reservation.user.nom }}
    </h5>
    <p class="mb-2 text-end">
      <small class="text-end">[{{ payment.reservation.user }}]</small>
    </p>
    <h6 class="mb-0">
        {{ renderLocalizedCategory(payment.reservation.date.travel.category.id,'es') }}
    </h6>
    {{ renderLocalizedTravel(payment.reservation.date.travel.id,'es') }}
      <br />
      <em data-bs-toggle="tooltip"
      title="Visualizar los datos de la fecha">{{ payment.reservation.date.debut|date('d/m/Y') }}</em>
      <i class="fas fa-arrow-right"></i>
      <em data-bs-toggle="tooltip"
      title="Visualizar los datos de la fecha">{{ payment.reservation.date.fin|date('d/m/Y') }}</em>
  </div>
</div>