{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="row">
{# main menu table form inputs #}
        <div class="col-md-4 col-sm-12">
            {{ form_row(form.code) }}
        </div>
        <div class="col-md-8 col-sm-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                {% for lang in langs %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link{% if loop.index0 == 0 %} active{% endif %}"
                                id="{{lang.name}}-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#{{lang.name}}" 
                                type="button" 
                                role="tab" 
                                aria-controls="#{{lang.name}}"
                                aria-selected="{% if loop.index0 == 0 %}true{% else %}false{% endif %}"
                        >{{lang.name}}</button>
                    </li>
                {% endfor %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {% if form.vars.value.id == null %}
                    {{ include('admin/continents/_form_new.html.twig') }}
                {% else %}
                     {{ include('admin/continents/_form_edit.html.twig') }}
                {% endif %} 
            </div>
        </div>
    </div>

    {{ form_widget(form._token) }}
    {# <input type="hidden" name="_token" value="{{ csrf_token('_token') }}"/> #}
     <div class="admin-buttons-container mt-4">
            <button class="btn btn-success">
                <i class="fa fa-save"></i>
                {% if form.vars.value.id == null %}
                    {{ button_label|default('Guardar') }}
                {% else %}
                    {{ button_label|default('Actualizar') }}
                {% endif %}
            </button>
            {{ include('admin/continents/_delete_form.html.twig') }}
        </div>
        
    {# {{ form_end(form,{'render_rest': false}) }} #}
    {{ form_end(form,{'render_rest': false}) }}
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
