<tr>
  <td data-cell="Id">{{ continent.id }}</td>
  <td data-cell="Abreviatura">
      <a href="{{ path('continents_edit', {'id': continent.id}) }}">
          {{ continent.code }}
      </a>
  </td>
  <td data-cell="Traducciones">
      <div class="row">
          {% for continentTranslation in continent.continentTranslation %}
              <div class="col-4">
                  <span class="badge bg-secondary">
                  {{ continentTranslation.lang.isoCode|upper }}
                  </span> {{ continentTranslation.name }}
              </div>
          {% endfor %}
      </div>
  </td>
  <td data-cell="Borrar">
      {{ include('admin/continents/_delete_form.html.twig') }}
  </td>
</tr>