{% for document in documents %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{{ path("download_document",{
                                  'id': document.id}
                                  )}}">
                                  {% if document.mimetype == 'image/jpeg' or
                document.mimetype == 'image/jpg' or
                document.mimetype == 'image/png' %}
              <img src="{{ path("download_document",{
                                'id': document.id}
                )}}" style="width:50px; height:auto" />
            {% else %}
                    <span class="fa fa-download"></span> {% endif %}
          <strong>{{document.doctype|trans}}</strong>:
          {{document.originalFilename}}
          <span>

      </a>
      </span>
      <button class="btn btn-link btn-sm" data-action="js-document-delete" data-type="{{document.doctype}}" data-document-id="{{document.id}}" data-traveller-id="{{traveller.id}}" data-reservation-id="{{reservation.id}}">
            <span class="fa fa-trash"></span>
          </button>
  </li>
{% else %}
  <li class="list-group-item alert alert-danger">
    {{ 'No hay documentos asociados a esta reserva'|trans }}.
  </li>
{% endfor %}