{% macro hasCompletedData(parameterName1 = null, parameterName2 = null, parameterName3 = null) %}
	{% set isComplete = false %}
	{% if (parameterName1 != null and parameterName2 != null and parameterName3 != null) %}
		{% if (child.vars.name == parameterName1 or
									 			 child.vars.name == parameterName2 or
												 child.vars.name == parameterName3) and
												 child.vars.value != null %}
			{% set isComplete = true %}

			<li data-type="{{ child.vars.name }}" data-checked="false" class="list-group-item list-success mb-1">
				<i class="fa fa-check-circle" style="color:#155724"></i>
				{{ child.vars.label }}:
				{{ child.vars.value }}
			{% else %}
				<li data-type="{{ child.vars.name }}" data-checked="true" class="list-group-item bg-warning mb-1">
					<i class="fa fa-exclamation-triangle" style="color:red"></i>
					{{ child.vars.label }}{{ child.vars.value }}
				</li>
			{% endif %}
		{% endif %}

	{% endmacro %}

  {% set inputIsFull = '' %}
	{% set hasPassport = false %}
	{% set hasVisa = false %}
	{% set hasDrivers = false %}
	{% set passportDocument = false %}
	{% set visaDocument = false %}
	{% set driversDocument = false %}


	{% if reservationData is defined and reservationData != null %}
		{% if reservationData.documents != null %}
			{% set documents = reservationData.documents %}
		{% endif %}
		{% if reservationData.traveller != null %}
			{% set travellerId = reservationData.traveller.id %}
		{% endif %}
	{% endif %}



{% for document in documents %}
		{% if document.doctype == "passport" %}
			{% set hasPassport = true %}
			{% set passportDocument = document %}
		{% endif %}

		{% if document.doctype == "visa" %}
			{% set hasVisa = true %}
			{% set visaDocument = document %}
		{% endif %}

		{% if document.doctype == "drivers" %}
			{% set hasDrivers = true %}
			{% set driversDocument = document %}
		{% endif %}

	{% endfor %}

	{% extends 'base.html.twig' %}

	{% block title %}
		{{ parent() }}
		-
		{{'Configuración de cuenta'|trans}}
	{% endblock %}

	{% block body %}

		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
						{{ wo_render_breadcrumbs() }}
				</div>
			</div>

			{{form_start(form,{'attr':{'class':'form-group'}})}}
			<div
				class="row"
				id="js-reservation-wrapper"
				{# data-reservation-id="{{reservation.id}}"  #}
				{% if traveller is defined and traveller != null %}
						data-traveller-id="{{ traveller.id }}"
					{% else %}
						data-user-id="{{app.user.id}}"
					{% endif %}
				data-locale="{{ app.request.getLocale() }}">
				<div class="col-md-8 col-12">
					<h1>
						{{ 'Tu reserva'|trans }}:
						{% if traveller is defined and traveller != null %}
							{{ traveller.prenom }}
							{{ traveller.nom }}
						{% else %}
							{{ app.user.prenom }}
							{{ app.user.nom }}
						{% endif %}
					</h1>

					<p>{{ 'En este espacio recogeremos los datos que deposites sobre tu reserva'|trans}}.</p>

					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
								{{ message }}.
						</div>
					{% endfor %}

					<div class="alert alert-primary" role="alert">
						<strong>{{ 'Nota'|trans }}</strong>:
						<p>{{'Por favor rellena con tus datos este formulario, SI NO DISPONES DE TODOS LOS DATOS en este momento, puedes dar a GUARDAR en cualquier momento y seguir en otro momento'|trans }}.</p>
						<p>{{'La columna de la derecha te indica los pasos que ya tienes completados'|trans }}</p>
					</div>
					{{ include('reservation/cards/_card_travel.html.twig',{'date':reservation.date}) }}
					<div class="nav-container">
						<ul class="nav nav-tabs" role="tablist" id="myTabs">
							<li class="nav-item" role="presentation">
								<button data-bs-target="#doc" aria-controls="doc" class="nav-link active" type="button" role="tab" data-bs-toggle="tab">
									{{'Documentos'|trans}}
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button data-bs-target="#seg" aria-controls="seg" class="nav-link" type="button" role="tab" data-bs-toggle="tab">
									{{'Seguro de asistencia en viaje'|trans}}
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button data-bs-target="#tra" aria-controls="tra" class="nav-link" type="button" role="tab" data-bs-toggle="tab">
									{{'Transfer aeropuerto'|trans}}
								</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div role="tabpanel" class="tab-pane active" id="doc">
								{{ include('user/partials/_tab_content_doc.html.twig') }}
							</div>
							<div role="tabpanel" class="tab-pane" id="seg">
								{{ include('user/partials/_tab_content_sec.html.twig') }}
							</div>
							<div role="tabpanel" class="tab-pane" id="tra">
								{{ include('user/partials/_tab_content_tra.html.twig') }}
							</div>
						</div>
						<button id="previous" data-action="previous" class="btn btn-rounded btn-primary previous">< {{ 'Anterior'|trans }}</button>
						<button id="next" data-action="next" class="btn btn-rounded btn-primary next">{{ 'Siguiente'|trans }} ></button>

					</div>
				</div>
				<div class="col-4 col-xs-12">
					{{ include('user/partials/_reservationData_sidebar.html.twig') }}
				</div>
				{# {{ form_row( form._token ) }} #}
				{# {{ form_end( form, {'render_rest': false} ) }}  #}
				{{ form_end( form) }}
			</div>

		{% endblock %}

		{% block javascripts %}
			{{ parent() }}
			{{ encore_entry_script_tags('reservation-data-manager') }}
		{% endblock %}

		{% block footer %}
			{{ parent() }}
		{% endblock %}