{% macro hasCompletedData(parameterName1 = null, parameterName2 = null, parameterName3 = null) %}
	{% set isComplete = false %}
	{% if (parameterName1 != null and parameterName2 != null and parameterName3 != null) %}
		{% if (child.vars.name == parameterName1 or
									 			 child.vars.name == parameterName2 or 
												 child.vars.name == parameterName3) and
												 child.vars.value != null %}
			{% set isComplete = true %}
			<li data-type="{{ child.vars.name }}" data-checked="false" class="list-group-item list-success mb-1">
				<i class="fa fa-check-circle" style="color:#155724"></i>
				{{ child.vars.label }}:
				{{ child.vars.value }}
			</li>
			{% else %}
				<li data-type="{{ child.vars.name }}" data-checked="true" class="list-group-item bg-warning mb-1">
					<i class="fa fa-exclamation-triangle" style="color:red"></i>
					{{ child.vars.label }}{{ child.vars.value }}
				</li>
			{% endif %}
		{% endif %}

	{% endmacro %}

	{% set hasPassport = false %}
	{% set hasVisa = false %}
	{% set hasDrivers = false %}
	{% set passportDocument = false %}
	{% set visaDocument = false %}
	{% set driversDocument = false %}


	{# {% for reservationDatum in traveller.reservationData %} #}

	{% for document in traveller.documents %}

		{% if document.doctype == "passport" %}
			{% set hasPassport = true %}
			{% set passportDocument = document %}

		{% endif %}
		{% if document.doctype == "visa" %}
			{% set hasVisa = true %}
			{% set visaDocument = document %}

		{% endif %}
		{% if document.doctype == "drivers" %}
			{% set hasDrivers = true %}
			{% set driversDocument = document %}

		{% endif %}
	{% endfor %}
	{# {% endfor %} #}
	{% extends 'base.html.twig' %}

	{% block title %}
		{{ parent() }}
		-
		{{'Configuración de cuenta'|trans}}
	{% endblock %}

	{% block body %}

		{{ parent() }}

		<div class="container">

			{{form_start(form,{'attr':{'class':'form-group'}})}}
			<div class="row" id="js-reservation-wrapper" data-reservation-id="{{reservation.id}}" data-traveller-id="{{traveller.id}}">
				<div class="col-md-8 col-12">
					<h1>{{ 'Tu reserva'|trans }}:
						{{traveller.prenom}}
						{{traveller.nom}}</h1>

					<p>{{ 'En este espacio recogeremos los datos que deposites sobre tu reserva'|trans}}.</p>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
								{{ message }}.
						</div>
					{% endfor %}
					<div class="alert alert-primary" role="alert">
						<strong>{{ 'Nota'|trans }}</strong>:
						<p>{{'Por favor rellena con tus datos este formulario, SI NO DISPONES DE TODOS LOS DATOS en este momento, puedes dar a GUARDAR en cualquier momento y seguir en otro momento'|trans }}.</p>
						<p>{{'La columna de la derecha te indica los pasos que ya tienes completados'|trans }}</p>
					</div>
					{{ include('reservation/_card_travel.html.twig',{'date':reservation.date}) }}
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item" role="presentation">
							<button data-bs-target="#doc" aria-controls="doc" class="nav-link active" type="button" role="tab" data-bs-toggle="tab">
								{{'Documentos'|trans}}
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button data-bs-target="#seg" aria-controls="seg" class="nav-link" type="button" role="tab" data-bs-toggle="tab">
								{{'Seguro de asistencia en viaje'|trans}}
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button data-bs-target="#tra" aria-controls="tra" class="nav-link" type="button" role="tab" data-bs-toggle="tab">
								{{'Transfer aeropuerto'|trans}}
							</button>
						</li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="doc">
							<h2>{{'Tus datos'|trans}}</h2>
							<h3>{{'Pasaporte'|trans}}</h3>
							<div class="row mb-3">
								<div class="col-md-7 col-12">
									<div class="js-dropzone-container" id="js-dropzone-passport-container">
										{% if hasPassport is defined and hasPassport == true %}
											{{ include('user/_renderFile_in_dropzone.html.twig',{
                                        'type':'passport',
                                        'document':passportDocument,
                                        'reservation': reservation,
                                        'traveller':traveller
                                        }) }}
										{% else %}
											{{ include('user/_dropzone_input.html.twig',{
																				'type':'passport',
																				'traveller':traveller
																				}) }}
										{% endif %}
									</div>
								</div>
								<div class="col-md-5 col-12">
									<div class="row">
										<div class="col-12">
											{% set inputIsFull = '' %}
											{% if( form.passportNo.vars.value != '' ) %}
												{% set inputIsFull = ' is-valid' %}
												{% set inputFilled = true %}
											{% else %}
												{% set inputIsFull = '' %}
												{% set inputFilled = false %}
											{% endif %}
											{{ form_row(form.passportNo,{
																				'label': 'Número del pasaporte'|trans,
                                        'attr':{
                                            
                                            'placeholder': 'AA0000000',
                                            'data-type': form.passportNo.vars.name,
                                            'class' : 'form-control input-fa-id-card'~inputIsFull,
																						'data-filled' : inputFilled
                                        }
                                    }) }}
											<div class="input-daterange input-group" id="datepicker">
												{% if( form.passportIssueDate.vars.value != '' ) %}
													{% set inputIsFull = ' is-valid' %}
													{% set inputFilled = true %}
												{% else %}
													{% set inputIsFull = '' %}
													{% set inputFilled = false %}
												{% endif %}
												{{ form_row(form.passportIssueDate,{
																						'label': 'Fecha de expedición del pasaporte'|trans,
                                            'attr':{
                                                'title': 'Pasaporte - Expedición'|trans,
                                                'placeholder': '0000-00-00',
                                                'data-type' : form.passportIssueDate.vars.name,
                                                'class':inputIsFull,
																								'data-filled' : inputFilled
                                            }
                                        }) }}
												{% if( form.passportExpirationDate.vars.value != '' ) %}
													{% set inputIsFull = ' is-valid' %}
													{% set inputFilled = true %}
												{% else %}
													{% set inputIsFull = '' %}
													{% set inputFilled = false %}
												{% endif %}
												{{ form_row(form.passportExpirationDate,{
																						'label': 'Fecha de expedición del pasaporte'|trans,
                                            'attr':{
                                                'title': 'Pasaporte - Caducidad'|trans,
                                                'placeholder': '0000-00-00',
                                                'data-type' : form.passportExpirationDate.vars.name,
                                                'class' : inputIsFull,
																								'data-filled' : inputFilled
                                            }
                                        }) }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<h3>{{'Visado'|trans}}</h3>
							<div class="row">
								<div class="col-md-7 col-12">
									<div class="js-dropzone-container" id="js-dropzone-visa-container">
										{% if hasVisa is defined and hasVisa == true %}
											{{ include('user/_renderFile_in_dropzone.html.twig',{'type':'visa','document':visaDocument}) }}
										{% else %}
											{{ include('user/_dropzone_input.html.twig',{'type':'visa'}) }}
										{% endif %}
									</div>
								</div>
								<div class="col-md-5 col-12">
									<div class="row">
										<div class="col-12">
											{% if( form.visaNumber.vars.value != '' ) %}
												{% set inputIsFull = ' is-valid' %}
												{% set inputFilled = true %}
											{% else %}
												{% set inputIsFull = '' %}
												{% set inputFilled = false %}
											{% endif %}
											{{ form_row(form.visaNumber,{
																				'label': 'Número del visado'|trans,
                                        'attr':{
                                            'title': 'Número del visado'|trans,
                                            'data-type' : form.visaNumber.vars.name,
                                            'class': inputIsFull,
																						'data-filled' : inputFilled
                                        }
                                    }) }}
										</div>
									</div>
									<div class="input-daterange input-group" id="datepicker">
										<div class="col-12">
											{% if( form.visaIssueDate.vars.value != '' ) %}
												{% set inputIsFull = ' is-valid' %}
												{% set inputFilled = true %}
											{% else %}
												{% set inputIsFull = '' %}
												{% set inputFilled = false %}
											{% endif %}
											{{ form_row(form.visaIssueDate,{
																				'label':'Fecha de emisión del visado'|trans,
                                        'attr':{
                                            'title': 'Visado - Fecha'|trans,
                                            'placeholder': '0000-00-00',
                                            'data-type' : form.visaIssueDate.vars.name,
                                            'class': inputIsFull,
																						'data-filled' : inputFilled
                                        }
                                    }) }}
										</div>

										<div class="col-12">
											{% if( form.visaExpirationDate.vars.value != '' ) %}
												{% set inputIsFull = ' is-valid' %}
												{% set inputFilled = true %}
											{% else %}
												{% set inputIsFull = '' %}
												{% set inputFilled = false %}
											{% endif %}
											{{ form_row(form.visaExpirationDate,{
																				'label': 'Fecha de caducidad del visado'|trans,
                                        'attr':{
                                            'title': 'Visado - Caducidad'|trans,
                                            'placeholder': '0000-00-00',
                                            'data-type' : form.visaExpirationDate.vars.name,
                                            'class': inputIsFull,
																						'data-filled' : inputFilled
                                        }
                                    }) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<h3>{{'Carnet de conducir'|trans}}</h3>
								<div class="col-md-7 col-12">
									<div class="js-dropzone-container" id="js-dropzone-drivers-container">
										{% if hasDrivers is defined and hasDrivers == true %}
											{{ include('user/_renderFile_in_dropzone.html.twig', {             'type':'drivers',
                                                'document':driversDocument
                                    }) }}
										{% else %}
											{{ include('user/_dropzone_input.html.twig',{'type':'drivers'}) }}
										{% endif %}
									</div>
								</div>
								<div class="col-md-5 col-12">
									<div class="row">
										<div class="col-12">
											{% if( form.driversNumber.vars.value != '' ) %}
												{% set inputIsFull = ' is-valid' %}
												{% set inputFilled = true %}
											{% else %}
												{% set inputIsFull = '' %}
												{% set inputFilled = false %}
											{% endif %}
											{{ form_row(form.driversNumber,{
																				'label':'Nº del carnet de conducir'|trans,
                                        'attr':{
                                            'data-type': form.driversNumber.vars.name,
                                            'title': 'Nº carnet de conducir'|trans,
                                            'class': inputIsFull,
																						'data-filled' : inputFilled
                                        }
                                    }) }}
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="input-daterange input-group" id="datepicker">
												{% if( form.driversIssueDate.vars.value != '' ) %}
													{% set inputIsFull = ' is-valid' %}
													{% set inputFilled = true %}
												{% else %}
													{% set inputIsFull = '' %}
													{% set inputFilled = false %}
												{% endif %}
												{{ form_row(form.driversIssueDate,{
																						'label': 'Fecha de emisión del carnet de conducir'|trans,
                                            'attr':{
                                                'data-type' : form.driversIssueDate.vars.name,
                                                'placeholder': '0000-00-00',
                                                'class':inputIsFull,
																								'data-filled' : inputFilled
                                            }
                                        }) }}
												{% if( form.driversExpirationDate.vars.value != '' ) %}
													{% set inputIsFull = ' is-valid' %}
													{% set inputFilled = true %}
												{% else %}
													{% set inputIsFull = '' %}
													{% set inputFilled = false %}
												{% endif %}
												{{ form_row(form.driversExpirationDate,{
																						'label': 'Fecha de caducidad del carnet de conducir'|trans,
                                            'attr':{
                                                'data-type' : form.driversExpirationDate.vars.name,
                                                'placeholder': '0000-00-00',
                                                'class': inputIsFull,
																								'data-filled' : inputFilled
                                            }
                                        }) }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="seg">
							<h3>{{ 'Seguro'|trans }}</h3>
							<div class="row">
								<div class="col-md-4 col-12">
									{% if ( form.insuranceCompany.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.insuranceCompany,{
																'label': 'Compañía de seguros'|trans,
                                'attr': {
                                    'data-type' : form.insuranceCompany.vars.name,
                                    'class' : inputIsFull,
																		'data-filled' : inputFilled
                                }
                            })}}
								</div>
								<div class="col-md-8 col-12">
									{% if ( form.insuranceContractNumber.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.insuranceContractNumber,{
																'label': 'Nº del contrato del seguro'|trans,
                                'attr': {
                                    'data-type' : form.insuranceContractNumber.vars.name,
                                    'class': inputIsFull,
																		'data-filled' : inputFilled
                                }
                            })}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-12">
									{% if( form.abroadPhoneNumber.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.abroadPhoneNumber,{
																'label': 'Número de teléfono de contacto'|trans,
                                'attr': {
                                    'data-type' : form.abroadPhoneNumber.vars.name,
                                    'class': inputIsFull,
																		'data-filled' : inputFilled
                                }
                            })}}
								</div>
								<div class="col-md-4 col-12">
									{% if( form.contactPersonName.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.contactPersonName,{
																'label': 'Nombre de la persona de contacto'|trans,
                                'attr': {
                                    'data-type' : form.contactPersonName.vars.name,
                                    'class': inputIsFull,
																		'data-filled' : inputFilled
                                }
                            })}}
								</div>
								<div class="col-md-4 col-12">
									{% if( form.contactPersonPhone.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.contactPersonPhone,{
																'label': 'Número de teléfono de tu contacto'|trans,
                                'attr': {
                                    'data-type' : form.contactPersonPhone.vars.name,
                                    'class' : inputIsFull,
																		'data-filled' : inputFilled
                                }
                            })}}
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="tra">
							<h3>{{'Transferencia'|trans}}</h3>
							<h4>{{'Llegada'|trans}}</h4>
							<div class="row">
								<div class="col-md-4 col-12">
									{% if ( form.flightNumber.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.flightNumber,{
																'label': 'Nº de vuelo de ida'|trans,
                                'attr':{
                                    'data-type':form.flightNumber.vars.name,
                                    'title':'Número del vuelo'|trans,
                                    'class': inputIsFull,
																		'data-filled' : inputFilled
                                }
                            }) }}
								</div>
								<div class="col-md-8 col-12">
									<div class="input-daterange" id="datepicker">
										<div class="row">
											<div class="col-md-6 col-12">
												{% if( form.flightArrival.vars.value != '' ) %}
													{% set inputIsFull = ' is-valid' %}
													{% set inputFilled = true %}
												{% else %}
													{% set inputIsFull = '' %}
													{% set inputFilled = false %}
												{% endif %}
												{{ form_row(form.flightArrival,{
																						'label': 'Fecha de llegada'|trans,
                                            'attr': {
                                                'data-type' : form.flightArrival.vars.name,
                                                'title':'Fecha de llegada'|trans,
                                                'class': inputIsFull,
																								'data-filled' : inputFilled
                                            }
                                        }) }}
											</div>
											<div class="col-md-6 col-12">
												{% if( form.flightDeparture.vars.value != '' ) %}
													{% set inputIsFull = ' is-valid' %}
													{% set inputFilled = true %}
												{% else %}
													{% set inputIsFull = '' %}
													{% set inputFilled = false %}
												{% endif %}
												{{ form_row(form.flightDeparture,{
																						'label': 'Fecha de regreso'|trans,
                                            'attr': {
                                                'data-type' : form.flightDeparture.vars.name,
                                                'title':'Fecha de regreso'|trans,
                                                'class': inputIsFull,
																								'data-filled' : inputFilled
                                            }
                                        }) }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-12">
									{% if( form.flightArrivalAirport.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
										{% else %}
											{% set inputIsFull = '' %}
											{% set inputFilled = false %}
										{% endif %}
									{{ form_row(form.flightArrivalAirport,{
																'label': 'Aeropuerto de llegada'|trans,
                                'attr': {
                                    'data-type' : form.flightArrivalAirport.vars.name,
                                    'title':'Aeropuerto de llegada'|trans,
                                    'class': inputIsFull,
																		'data-filled' : inputFilled
                                }
                            }) }}
								</div>
								<div class="col-md-6 col-12">
									{% if( form.ArrivalHotel.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.ArrivalHotel,{
																'label': 'Hotel a la llegada'|trans,
                                'attr': {
                                    'data-type' : form.ArrivalHotel.vars.name,
                                    'title':'Hotel de llegada'|trans,
                                    'class': inputIsFull,
																		'data-filled' : inputFilled
                                }
                            }) }}
								</div>
							</div>
							<h4>{{'Salida'|trans}}</h4>
							<div class="row">
								<div class="col-md-4 col-12">
									{% if ( form.flightDepartureNumber.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.flightDepartureNumber,{
																'label': 'Nº de vuelo de regreso'|trans,
                                'attr': {
                                    'data-type' : form.flightDepartureNumber.vars.name,
                                    'title':'Vuelo de regreso'|trans,
                                    'class': inputIsFull,
																		'data-filled' : inputFilled
                                }
                            }) }}
								</div>
								<div class="col-md-4 col-12">
									{% if ( form.flightDepartureAirport.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.flightDepartureAirport,{
																'label': 'Aeropuerto de salida (regreso)'|trans,
                                'attr': {
                                    'data-type' : form.flightDepartureAirport.vars.name,
                                    'title': 'Aeropuerto de salida'|trans,
                                    'class': inputIsFull,
																		'data-filled' : inputFilled
                                }
                            }) }}
								</div>
								<div class="col-md-4 col-12">
									{% if ( form.DepartureHotel.vars.value != '' ) %}
										{% set inputIsFull = ' is-valid' %}
										{% set inputFilled = true %}
									{% else %}
										{% set inputIsFull = '' %}
										{% set inputFilled = false %}
									{% endif %}
									{{ form_row(form.DepartureHotel,{
																'label': 'Hotel antes del regreso'|trans,
                                'attr': {
                                    'data-type' : form.DepartureHotel.vars.name,
                                    'title' : 'Hotel de salida'|trans,
                                    'class' : inputIsFull,
																		'data-filled' : inputFilled
                                }
                            }) }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12">
					<div class="position-sticky">
						<div class="card card-tarif mb-3">
							<div class="card-header">
								<h4>{{ 'Documentos'|trans }}</h4>
							</div>
							<div class="card-body">
								<ul 
									class="list-group small mb-3 js-documents-list" 
									data-reservation-id="{{reservation.id}}" 
									data-traveller-id = "{{traveller.id}}"
									data-url="{{ path('frontend_reservation_list_documents', {'reservation': reservation.id}) }}">
									{{ include('user/_documents_list.html.twig',{
                               'reservation':reservation
                           }) }}
								</ul>
							</div>
						</div>
						<div class="card card-tarif">
							<div class="card-header">
								<h4>{{ 'DATOS'|trans }}</h4>
							</div>
							<div class='card-body'>
								{% set counter = 0 %}
								{% for child in form.children %}
									{% if child.vars.value != null %}
										{% set counter = counter + 1 %}
									{% endif %}
								{% endfor %}
								{% set width = counter/( (form.children|length -1) )*100 %}
								<div id="js-progress" class="mb-3" data-counter="{{counter}}">
									<div class="progress">
										<div class="progress-bar {% if width >= 0 and width < 25 %}
																						bg-danger{% elseif width >= 25 and width < 50 %} bg-warning
																						{% elseif width >= 50 and width < 75 %} bg-info{% elseif width >= 75 and width <= 100 %} bg-success{% endif %}" role="progressbar" style="width: {{ width }}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
								<ul class="list-group mb-3" id="js-verification-list">
									{% for child in form.children %}
										{% if child.vars.name != "_token" and
									child.vars.name != "passportIssueDate" and
									child.vars.name != "passportExpirationDate" and
									child.vars.name != "visaIssueDate" and
									child.vars.name != "visaExpirationDate" and
									child.vars.name != "driversIssueDate" and
									child.vars.name != "driversExpirationDate" and
									child.vars.name != "insuranceContractNumber" and 
									child.vars.name != "flightArrivalAirport" and 
									child.vars.name != "ArrivalHotel" and 
									child.vars.name != "flightDeparture" and 
									child.vars.name != "flightDepartureAirport" and 
									child.vars.name != "flightDepartureHotel"
									 %}
											{% if child.vars.value != null %}
												<li data-type="{{ child.vars.name }}" data-checked="false" class="list-group-item list-success mb-1">
													<i class="fa fa-check-circle" style="color:#155724"></i>
													{{ child.vars.label }}:
													{{ child.vars.value }}
												{% else %}
													<li data-type="{{ child.vars.name }}" data-checked="true" class="list-group-item bg-warning mb-1">
														<i class="fa fa-exclamation-triangle" style="color:red"></i>
														{{ child.vars.label }}{{ child.vars.value }}
													</li>
												{% endif %}
											{% endif %}
										{% endfor %}
									</ul>
								</div>
								<div class="card-footer">
									<button name="submit" class="btn btn-info">
										{{'Guardar'|trans}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# {{ form_row( form._token ) }} #}
				{# {{ form_end( form, {'render_rest': false} ) }}  #}
				{{ form_end( form) }}
			</div>

		{% endblock %}

		{% block javascripts %}
			{{ parent() }}
			{{ encore_entry_script_tags('reservation-data-manager') }}
		{% endblock %}

		{% block footer %}
			{{ parent() }}
		{% endblock %}
