{% extends 'admin/base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block header %}
   {{ include('admin/shared/_header.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'menu'})}}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Lista de los elementos de los menús</h1>
                {# total items count #}
                <div class="count">
                    <strong>Elementos de menú en total:</strong> {{ menus.getTotalItemCount }}
                </div>
                <br />
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(menus) }}
                </div>
            <div class="table-responsive table-data">
               <div>
                <table class="table table-hover small">
                    <thead>
                        <tr>
                            <th class="main-red{% if menus.isSorted('m.title') %} sorted{% endif %}">
                                {{ knp_pagination_sortable(menus, 'Título', 'm.title', {'class':'text-decoration-none link-light'}) }}
                            </th>
                            <th class="main-red{% if menus.isSorted('m.position') %} sorted{% endif %}">
                                {{ knp_pagination_sortable(menus, 'Posición', 'm.position', {'class':'text-decoration-none link-light'}) }}
                            </th>
                            <th class="main-red">Traducciones</th>
                            <th class="main-red">Localizaciones</th>
                            <th class="fit main-red"><i class="fa fa-trash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for menu in menus %}

                        <tr>
                            {# <td>{{ menu.id }}</td>
                            <td>{{ menu.type }}</td> #}
                            <td data-cell="Título">
                                <a href="{{ path('menu_edit', {'id': menu.id}) }}">
                                    {{ menu.title }}
                                </a>
                            </td>
                            <td data-cell="Posición">{{ menu.position }}</td>
                            <td data-cell="Traducciones">
                                {% for menuTranslation in menu.menuTranslations %}
                                <div>
                                <span class="badge bg-secondary">
                                    {{ menuTranslation.lang.isoCode|upper }}
                                </span>
                                {{ menuTranslation.title }}
                                <br />
                                </div>
                                {% endfor %}
                            </td>
                            <td data-cell="Localización">
                                    {% for menuLocation in menu.menuLocations %}
                                        {{ menuLocation.name }}<br />
                                    {% else %}
                                        No tiene una localización asignada<br />
                                    {% endfor %}
                                </ul>
                            </td>
                            <td data-cell="Borrar">
                                {{ include('admin/menu/_delete_form.html.twig') }}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
